<div class="group-single-holder shadow <%=typeof addClazz !== 'undefined' ? addClazz : '' %>" data-title="<%=title%>">
  <label class="group-single-title"><%=title%></label>

  <% Object.keys(group).forEach((each)=>{%>
    <div class="group-single-item-holder" data-key="<%=each%>">

      <%

      var iconPath;

      if (group[each].icon){
        iconPath = group[each].icon;
      }else if (typeof showPapers !== 'undefined'){
          iconPath = Object.keys(groups.icons).reduce((acc, key) => {
            var arr = key.split('-')
            return acc + (group[each].value >= parseInt(arr[0]) && group[each].value <= parseInt(arr[1]) ? groups.icons[key].icon : '')
          }, '')
      }
      %>

      <%if (iconPath){
          if(title !== 'Transportadoras') iconPath = '/img/' + iconPath.toLowerCase() + '.png'%>
        <img class="icon"  src="<%=iconPath%>" />
      <%}%>


        <div class="group-item-labels">

          <%
          var itemLabel = each;

          if (typeof dates != "undefined"){
            itemLabel = Dat.format(new Date(each));
          }%>


          <label class="group-item-label" data-label="<%=each%>"><%=itemLabel%></label></br>
          <label class="group-item-value"><%=group[each].value%></label>
        </div>
      </div>
      <%})%>

    </div>
