<script>
window.groups = <%- JSON.stringify(groups || null) %>
</script>


<link rel="stylesheet" type="text/css" href="/front/css/layout/packing-groups.css">

<%if (groups){%>
  <div class="all-groups-holder">

    <%if (groups.sales){%>
      <%- include('../sale-groups/group-item', {group: groups.sales, title : 'Totais' });  %>
    <%}%>

    <%if (groups.transps){%>
      <%- include('../sale-groups/group-item', {group: groups.transps, title : 'Transportadoras' });  %>
    <%}%>

    <%if (groups.ufs){%>
      <%- include('../sale-groups/group-item', {group: groups.ufs, title : 'Estados', showPapers:true});  %>
    <%}%>

    <%if (groups.dates){%>
      <%- include('../sale-groups/group-item', {group: Util.orderDatesObject(groups.dates), title : 'Datas', dates: true, showPapers:true});  %>
    <%}%>


  </div>
<%}%>
