<!DOCTYPE html>
<html lang="en">
<%include ../../menus/main-menu %>

<head>
    <link rel="stylesheet" href="/front/css/layout/product/panel/product-panel.css">
    <link rel="stylesheet" href="/front/css/layout/card.css">

    <script src="/front//js/libs/combobox.js"></script>

    <script src="/front/js/libs/dropdown.js"></script>
    <script src="/front/js/libs/request-helper.js"></script>
    <script src="/front/js/libs/range-date-picker.js"></script>


    <script src="/front/js/control/product/panel/product-panel.js"></script>

</head>
<script>
    window.orders = <%- JSON.stringify(orders) %>
</script>
<body>
    <%include ../../menus/stock-menu %>





    <div class="main-content">
        <div class="top shadow">
            <div class="search-box">
                <img class="icon-open is-closed" title="Abrir seletor" src="/img/arrow-down.png">
                <input type="text" id="search-input" value="<%=query.value%>" class="simple-material-input"
                    placeholder="Pesquisar (Numero Pedido, Fornecedor, Marca, Estação, Ano)" autocomplete="off" />

                <div class="selectors">
                    <div class="date-filters-holder"></div>
                </div>
                <div class="button-area">
                    <div class="new-holder">
                        <label class="button shadow" id="new-button" tabindex="0">Novo</label>
                    </div>
                </div>
            </div>
        </div>
            <div class="columns">
                <div class="left-holder">
                    <div class="col">
                        <div class="col-content shadow red-top">
                            <div class="col-header">
                                <span class="label header-title">A Receber</span>
                                <span class="orders-qtd"></span>
                            </div>
                            <div class="awaiting-col col-box">
                                <div class="list-content">
                                    <span class="hint">Nenhum pedido para recebimento</span>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <div class="col">
                        <div class="col-content shadow yellow-top">
                            <div class="col-header">
                                <span class="label header-title">Em Andamento</span>
                                <span class="orders-qtd"></span>
                            </div>
                            <div class="in-progress-col col-box">
                                <div class="list-content">
                                    <span class="hint">Nenhum pedido em andamento</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="right-holder shadow">
                        <div>
                            <table class="content-table" width="100%">
                                <tr class="table-header">
                                    <td>Data</td>
                                    <td>Número</td>
                                    <td>Fornecedor</td>
                                    <td>Marca</td>
                                    <td>Usuário</td>
                                    <td></td>
                                </tr>
                                <%orders.finished.forEach((each)=>{%>
                                    <tr class="line-order">
                                        <td><%=Dat.format(new Date(each.date))%></td>
                                        <td><%=each.number%></td>
                                        <td><%=each.manufacturer%></td>
                                        <td><%=each.brand%></td>
                                        <td><%=each.user.name%></td>
                                        <td><div class="menu-dots" data-id="<%=each.id%>"></div></td>
                                    </tr>
                                <%})%>
                            </table>
                        </div>
                </div>
            </div>
        </div>
        <div class="modal-holder" style="display: none;">
            <%-  include stock-order-modal %>
        </div>
</body>
