<html>

  <head>
    <link rel="stylesheet" type="text/css" href="/front/css/layout/menu.css">
    <link rel="stylesheet" type="text/css" href="/front/css/layout/general.css">
    <link rel="stylesheet" type="text/css" href="/front/css/libs/ripple.min.css">


    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="/front/js/libs/ripple.min.js"></script>
    <script type="text/javascript" src="/front/js/control/menu.js"></script>
    <script type="text/javascript" src="/util/date.js"></script>
    <script type="text/javascript" src="/util/number.js"></script>
    <script type="text/javascript" src="/util/util.js"></script>
    <script type="text/javascript" src="/util/float.js"></script>
    <script type="text/javascript" src="/front/js/control/general.js"></script>
    <link href="//fonts.googleapis.com/css?family=Roboto" rel='stylesheet' type='text/css'>

    <title>Hawk</title>
    <link rel="icon" href="/img/icon/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/img/icon/favicon.ico" type="image/x-icon" />


    <script>
      $(document).ready(function() {
        $('.menu-item').click(function() {
          setTimeout(() => {
            window.location.href = $(this).attr('href');
          }, 200);
        })
      });
    </script>
  </head>

  <body>

    <nav id="main-menu">

      <div class="material-ripple start-jobs">
        <img src="<%=process.env.NODE_ENV ? '/img/icon/hawk.png' : '/img/maintenance.png'%>" id="logo" class="<%= global.jobsRunning ? 'gone' : '' %>" />
        <img id="run-jobs-img" src="/img/loader/loading.svg" class="<%= !global.jobsRunning ? 'gone' : '' %>" />
      </div>

      <ul id="nav">
        <li class="menu-item material-ripple" href="/picking">
          <div class="menu-button title">
            Picking
          </div>

        </li>
        <li class="menu-item material-ripple" href="/packing/overview">
          <div class="menu-button title">
            Packing
          </div>
        </li>
        <li class="menu-item material-ripple" href="/profile/performance">
          <div class="menu-button title">
            Performance
          </div>
        </li>
        <li class="menu-item material-ripple" href="/stock">
          <div class="menu-button title">
            Estoque
          </div>
        </li>

        <li class="menu-item material-ripple" href="/history">
          <div class="menu-button title">
            Histórico
          </div>
        </li>
      </ul>

      <div class="material-ripple user-logged-holder">

        <img src="<%=loggedUser ? loggedUser.avatar : 'default' %>" class="user-logged-img circle shadow" />

        <label class="title user-logged-name"><%= loggedUser ? loggedUser.name : 'No User' %> </label>


      </div>
    </nav>



  </body>

</html>
