<html>

<head>
  <link rel="stylesheet" type="text/css" href="/front/css/layout/menu.css">
  <link rel="stylesheet" type="text/css" href="/front/css/layout/general.css">


  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script type="text/javascript" src="/front/js/control/menu.js"></script>
  <script type="text/javascript" src="/util/string.js"></script>
  <script type="text/javascript" src="/util/date.js"></script>
  <script type="text/javascript" src="/util/number.js"></script>
  <script type="text/javascript" src="/util/util.js"></script>
  <script type="text/javascript" src="/util/float.js"></script>
  <script type="text/javascript" src="/util/sett.js"></script>
  <script type="text/javascript" src="/front/js/control/general.js"></script>
  <link href="//fonts.googleapis.com/css?family=Roboto" rel='stylesheet' type='text/css'>

  <title>Hawk</title>
  <link rel="icon" href="/img/icon/favicon.ico" type="image/x-icon" />
  <link rel="shortcut icon" href="/img/icon/favicon.ico" type="image/x-icon" />


  <script>
  /*$(document).ready(function() {
  $('.menu-item').click(function() {
  setTimeout(() => {
  window.location.href = $(this).attr('href');
}, 200);
})
});*/
</script>
</head>

<body>
  <script type="text/javascript">
  window.loggedUser = <%- JSON.stringify(loggedUser || null) %>
</script>


<nav id="main-menu">

  <div class=" start-jobs">

    <%
    var img = '/img/icon/hawk.png';

    if (!process.env.NODE_ENV){
      img = '/img/maintenance.png';
    }

    if (global.eccoConnErrors){
      img = '/img/api-error.png';
    }
    %>
    <img src="<%=img%>" id="logo" title="<%=global.eccoConnError? 'Erro ao conectar e receber dados via API' : 'Hawk' %>"/>
  </div>

  <ul id="nav">
    <li class="menu-item">
      <a href="/picking">
        <div class="menu-button title">
          Picking
        </div>
      </a>
    </li>
    <li class="menu-item ">
      <a href="/packing">
        <div class="menu-button title">
          Packing
        </div>
      </a>
    </li>
    <li class="menu-item ">
      <a href="/profile">
        <div class="menu-button title">
          Performance
        </div>
      </a>
    </li>
    <li class="menu-item ">
      <a href="/product">
        <div class="menu-button title">
          Estoque
        </div>
      </a>
    </li>


    <li class="menu-item ">
      <a href="/history">
        <div class="menu-button title">
          Histórico
        </div>
      </a>
    </li>

    <li class="menu-item ">
      <a href="/settings">
        <div class="menu-button title">
          Configurações
        </div>
      </a>
    </li>
  </ul>

  <div class=" user-logged-holder">

    <img src="<%=loggedUser ? loggedUser.avatar : 'default' %>" class="user-logged-img circle shadow" />

    <label class="title user-logged-name"><%= loggedUser ? loggedUser.name : 'No User' %> </label>
    <label id="user-logged-id"><%=loggedUser ? loggedUser.id : 404 %></label>


  </div>
</nav>



</body>

</html>
