<html lang="en" dir="ltr">
<head>
  <%  include ../menus/main-menu %>
  <meta charset="utf-8">

  <link rel="stylesheet" type="text/css" href="/front/css/layout/packing.css">
  <link rel="stylesheet" type="text/css" href="/front/css/libs/material-input.css">

  <script type="text/javascript" src="/front/js/libs/image-preview.js"></script>
  <script type="text/javascript" src="/front/js/control/packing.js"></script>
  <script type="text/javascript" src="/front/js/libs/request-helper.js"></script>
    <script type="text/javascript" src="/front/js/libs/beep.js"></script>
</head>
<body>
  <%  include ../menus/packing-menu %>

  <script>
  window.sale = <%- JSON.stringify(sale || null) %>
</script>

<div class="main-content">

  <div class="header-holder">

    <div class="info-holder shadow">
      <%if (!sale || !sale.id){%>
        <img class="mini-icon" src="/img/checked.png" />
        <span class="main-msg">
          Inicie o faturamento de um novo pedido
        </span>

        <%}else {%>
          <table>
            <tr>
              <td>
                <div class="field">
                  <label class="field-title">Número do Pedido</label>
                  <label class="info highlighted"><%=sale? sale.numeroPedido : ''%></label>
                </div>
              </td>

              <td>
                <div class="field">
                  <label class="field-title">Ordem de Compra</label>
                  <label class="info"><%=sale? sale.numeroDaOrdemDeCompra : ''%></label>
                </div>
              </td>

              <td>
                <div class="field">
                  <label class="field-title">Data</label>
                  <label class="info"><%=sale? Dat.format(new Date(sale.data)) : ''%></label>
                </div>
              </td>

              <td>
                <div class="status-holder">
                  <img class="circle shadow icon" src="/img/<%=sale ?  'transport/' + sale.transport.toLowerCase() : 'question-mark'%>.png" />

                  <div class="field skrink">
                    <label class="field-title">Transportadora</label>
                    <label class="info"><%=sale ? sale.transport : ''%></label>
                  </div>
                </div>
              </td>

              <td></td>
            </tr>

            <tr>

              <td>
                <div class="field">
                  <label class="field-title">Client</label>
                  <label class="info"><%=sale && sale.client ? Str.short(sale.client.nome,20) : ''%></label>
                </div>
              </td>

              <td>
                <div class="field">
                  <label class="field-title">Estado</label>
                  <label class="info"><%=sale && sale.client ? sale.client.uf : ''%></label>
                </div>
              </td>

              <td>
                <div class="field">
                  <label class="field-title">Cidade</label>
                  <label class="info"><%=sale && sale.client ? Str.short(sale.client.cidade,20) : ''%></label>
                </div>
              </td>

              <td>
                <div class="status-holder">
                  <img class="circle shadow icon" src="/img/<%=sale && sale.situacao == '3' ? 'checked' : 'alert'%>.png" />

                  <div class="field skrink">
                    <label class="field-title">Situação</label>
                    <label class="info"><%=sale ? Util.getSaleSituationName(parseInt(sale.situacao)) : ''%></label>
                  </div>
                </div>
              </td>

              <td>
                <div class="status-holder">
                  <img class="circle shadow icon" src="/img/<%=sale && sale.pickingRealizado == 'A' ? 'checked' : 'alert'%>.png" />

                  <div class="field skrink">
                    <label class="field-title">Status</label>
                    <label class="info"><%=sale ? Util.getSaleStatusName(sale.pickingRealizado) : ''%></label>
                  </div>
                </div>
              </td>

            </tr>

            <tr class="editable-infos-holder">
              <td>
                <div class="field">
                  <label class="field-title">Peso Líquido</label>
                  <input id="sale-liq" type="text" placeholder="0" onkeypress="return Num.isNumberKey(event);" maxlength="6" class="editable-info"/>
                </div>
              </td>

              <td>
                <div class="field">
                  <label class="field-title">Peso Bruto</label>
                  <input id="sale-bru" type="text" placeholder="0" onkeypress="return Num.isNumberKey(event);" maxlength="6" class="editable-info"/>
                </div>
              </td>

              <td>
                <div class="field">
                  <label class="field-title">Volumes</label>
                  <input id="sale-vols" type="text" placeholder="1" value="1" onkeypress="return Num.isNumberKey(event);" maxlength="1" class="editable-info"/>
                </div>
              </td>

              <td>
                <div class="field">
                  <label class="field-title">Espécie</label>
                  <input id="sale-esp" type="text" placeholder="FLYER"value="FLYER" maxlength="20" class="editable-info"/>
                </div>
              </td>

              <td></td>
            </tr>
          </table>

          <%}%>
        </div>

        <div class="search-holder shadow">

          <div class="last-product-holder">
            <div class="sku-header">
              <span class="field-title">Último Conferido</span>
              <span id="last-product-sku"></span>
            </div>
            <img id="last-product-img"/>
          </div>

          <div class="material-input-holder group input-group">
            <input type="text" id="search-sale" value="<%=sale? sale.numeroPedido : ''%>" required>
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>Número do Pedido</label>
          </div>

        </div>

      </div>


      <%if (sale && sale.id){%>
        <div class="sale-content">



          <%if (sale && sale.situacao == '3'){%>
            <div class="product-line shadow">
              <div class="progress-line"> <div class="progress-line inner"> </div></div>

              <span>
                <div class="product-ean-holder">
                  <div class="product-ean-and-icon">
                    <img class="circle shadow icon"  id="product-ean-icon" class="product-icon" src="/img/scan-barcode.png" />
                    <input type="text" id="product-ean"  class="simple-material-input%>" placeholder="Código de Barras"/>
                    <span id="itens-progress"></span>
                  </div>

                  <label class="product-msg"></label>
                </div>


              </span>

            </div>
            <%}%>

            <div class="products-in-holder products-table-holder shadow"></div>
            <div class="products-out-holder  products-table-holder shadow"></div>
          </div>


          <%}%>


          <%  include ../sale-groups/sale-grouping %>

        </div>

      </body>
      </html>
