<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Barcode <%= product.codigo%></title>
  <link rel="icon" href="/img/icon/barcode.ico" type="image/x-icon" />
  <link rel="shortcut icon" href="/img/icon/barcode.ico" type="image/x-icon" />

  <link rel="stylesheet" type="text/css" href="/front/css/layout/general.css">
  <script type="text/javascript" src="/front/js/libs/JsBarcode.all.min.js"></script>

  <style>
    body {
      display: -webkit-box;
    }

    .etq-holder {
      float: left;
      width: fit-content;
      display: grid;
      margin-right: 150px;
      margin-left: 30px;
    }

    .bottom-holder {
      margin-bottom: -20px;
      z-index: 1;
      text-align: center;
      display: block;
      padding-left: 8px;
      padding-right: 8px;
    }

    .ean-label {
      display: block;
      font-size: 24px;
      text-align: center;
      margin-top: -10px;
      z-index: 1;
    }

    .local-label {
      display: block;
      font-size: 24px;
      text-align: center;
      margin-top: -10px;
      z-index: 1;
      padding-left: 10px;
    }

    .sku-label {
      padding: 5px;
      font-size: 26px;
      margin-bottom: -10px;
      z-index: 1;
      font-weight: 800;
      text-align: center;
    }

    .right {
      float: right;
    }

    .left {
      float: left;
    }
  </style>
</head>
<body>

  <% for(var i = 0; i < 2; i++) {%>
    <div class="etq-holder">
      <span class="sku-label"><%=product.codigo%></span>
      <svg id="barcode"></svg>

      <div class="bottom-holder">

        <% if (product.localizacao.length == 0){%>
          <span class="ean-label"><%=product.gtin%></span>

        <% } else {%>
          <span class="ean-label left"><%=product.gtin%></span>
          <span class="local-label right"><%=product.localizacao%></span>
        <% }%>
      </div>


    </div>
    <% }%>
  </body>
  </html>


  <script type="text/javascript">

    JsBarcode("#barcode", "<%=product.gtin%>", {
      lineColor: "#000",
      width: 3,
      height: 110,
      displayValue: false
    });

  </script>
