

<div class="avatar-holder">

  <% if (winner && !isPodium){ %>
    <img class="crown <%= isRecord ? 'record-crown' : ''%>"  src="<%=isRecord ? '/img/record_crown.png' : '/img/crown.png'%>" />
  <%}%>



  <% if (isPodium){ %>
     <img class="medal" src="<%=position == 1 ? '/img/gold-medal.png' : (position == 2 ? '/img/silver-medal.png' : (position == 3 ? '/img/bronze-medal.png' : ''))%>" />
  <%}%>




    <%if(typeof perncentGoal !== 'undefined'){%>
      <span class="percent shadow <%=goalAchieved ? '' : 'red'%>" > <%=Num.percent(perncentGoal, true)%> </span>
    <%}%>


    <%- include('../user/avatar', {user: winner, imgClass: (isPodium ? 'podium-avatar' : '')});  %>







  <% if (isRecord){ %>
    <img class="double-diamong"  src="/img/double-diamond.png" />
  <%}%>



  <% if (!isPodium){ %>
     <img class="laurel"  src="/img/laurel.png" />
     <img class="ribbon <%= isRecord ? 'record-ribbon' : ''%>"  src="<%= isRecord ? '/img/record-ribbon.png' : '/img/red-ribbon.png'%>" />
     <label class="label avatar-name <%= isRecord ? 'record-name' : ''%>"  title="<%=winner.id%>"  ><%= winner ? winner.name ||  'Indefinido': 'Indefinido'%></label>
  <%}%>


</div>
