<link rel="stylesheet" type="text/css" href="/css/achiev.css">

<%
var curYear;
%>



<%data.forEach((achiev)=>{%>
  <% if(curYear != achiev.year){
    curYear = achiev.year;
    %>
    <label class="label year-title">
      <%=achiev.year%>
    </label>

    <%}%>

    <div class="achivments-holder">


      <%achiev.getItems().forEach((item)=>{%>
        <div class="shadow grid-item">

          <%
          var isRecord = item.month == achiev.record;
          if (isRecord){
            %><img class="record" src="/img/record.png"/><%
          }
          %>

          <label class="label month-desc"><%=item.monthDesc%></label>

          <div class="inner-achiev">
            <div class="avatar-holder">  
              <img class="crown <%= isRecord ? 'record-crown' : ''%>  <%= (!item.user || !item.user.avatar) ? 'hidden' : ''%>" src="<%=isRecord ? '/img/record_crown.png' : '/img/crown.png'%>" />

              <a href="/profile/performance?userid=<%=item.user.id%>">
                <img class="avatar-img circle shadow" src="<%=item.user ? item.user.avatar : ''%>" onerror="this.src='/img/avatar.png'" data-userid="<%=item.user.id%>"/>
              </a>

              <span class="label shadow avatar-name"><%=item.user ? item.user.name || 'Indefinido' : 'Indefinido' %></span>
            </div>

            <div class="dots-holder">

              <%item.getBars().forEach((bar)=>{%>

                <div class="dot-item">
                  <div class="dot circle shadow" style="background-color: #<%=bar.barColor%>"> </div>
                  <label class="dot-value label"> <%=Num.format(bar.value, true)%> </label>
                </div>

                <%});%>
              </div>
            </div>
          </div>
          <%});%>
        </div>
        <%});%>
