<html>

  <head>

    <link rel="stylesheet" type="text/css" href="/css/achiev.css">

  </head>

  <body>


    <div class="main-content">
      <% include menu %>

        <% include invoice-menu %>


          <div class="achivments-holder">

            <%data.forEach((item)=>{
              %>

              <div class="shadow grid-item">


                <span class="label month-desc"><%=item.monthDesc%></span>

                <div class="avatar-holder">
                  <img class="avatar-img circle shadow" src="/img/avatar/<%=item.user.id%>.jpg" onerror="this.src='/img/avatar/default.jpg'" />
                  <span class="label shadow avatar-name"><%=item.user.name || '...' %></span>
                </div>

                <div class="dots-holder">

                  <%item.getBars().forEach((bar)=>{

                   %>

                    <div class="dot-item">
                      <div class="dot circle shadow" style="background-color: #<%=bar.barColor%>"> </div>
                      <label class="dot-value label"> <%=Num.format(bar.value)%> </label>
                    </div>

                    <%

                    });%>



                </div>

              </div>

              <%

            });%>


          </div>

    </div>

  </body>

</html>