<html>

  <head>

    <link rel="stylesheet" type="text/css" href="/css/achiev.css">

  </head>

  <body>


    <div class="main-content">
      <% include menu %>

        <%

        var subtitlesArr = Util.getSubtitles(data);
        var curYear;
        %>
          <%include invoice-menu %>




            <%data.forEach((achiev)=>{%>
              <% if(curYear != achiev.year){
                     curYear = achiev.year;
                  %>
                <label class="label year-title">
                    <%=achiev.year%>
                  </label>

                <%}%>

                  <div class="achivments-holder">


                    <%achiev.getItems().forEach((item)=>{%>
                      <div class="shadow grid-item">
                        <label class="label month-desc"><%=item.monthDesc%></label>

                        <div class="inner-achiev">
                          <div class="avatar-holder">
                            <img class="crown" src="/img/crown.png" />
                            <img class="avatar-img circle shadow" src="<%=item.user.avatar%>" onerror="this.src='/img/avatar/default.jpg'" />
                            <span class="label shadow avatar-name"><%=item.user.name || 'Indefinido' %></span>
                          </div>

                          <div class="dots-holder">

                            <%item.getBars().forEach((bar)=>{%>

                              <div class="dot-item">
                                <div class="dot circle shadow" style="background-color: #<%=bar.barColor%>"> </div>
                                <label class="dot-value label"> <%=Num.format(bar.value)%> </label>
                              </div>

                              <%});%>
                          </div>
                        </div>
                      </div>
                      <%});%>
                  </div>
                  <%});%>

    </div>

  </body>

</html>
