<html>

  <head>
    <link rel="stylesheet" type="text/css" href="css/charts.css">
  </head>


  <body>
    <% include menu %>

      <div class="main-content ">

        <div class="chart-group shadow">

          <label class="chart-title"><%=chart.title%></label>


          <label class="chart-label"><%=chart.label%></label>

          <div class="chart-holder">

            <% chart.getItems().forEach(function(item) {%>

              <div class="chart-bar-group">
                <div class="inner-bar-group">
                  <div class="avatar-holder">
                    <img class="avatar-img circle shadow" src="img/avatar/<%=item.imgName%>.jpg" onerror="this.src='img/avatar/default.jpg';" />
                    <span class="label shadow avatar-name"><%=item.label%></span>
                  </div>

                  <div class="bars-holder">
                    <% item.getBars().forEach(function(bar){%>
                      <div class="bar shadow grow-bar" data-height="<%=bar.getHeight()%>">

                        <span class="bar-value"><%=bar.getDisplayValue();%></span>

                      </div>

                      <%}); %>

                  </div>

                </div>
              </div>

              <% }); %>

          </div>
        </div>

      </div>


  </body>


  <script>
    $(document).ready(function() {

      $('.grow-bar').each(function() {
        $(this).animate({
          height: $(this).attr('data-height')
        }, 600);
      });
    });
  </script>

</html>