<html>

  <head>
    <link rel="stylesheet" type="text/css" href="css/charts.css">
    <script type="text/javascript" src="js/visual/img-loader.js"></script>
  </head>


  <body>
    <% include menu %>

      <div class="main-content">

        <% charts.forEach(function(chart) {%>

          <div class="chart-group shadow">

            <div class="title-holder">
              <label class="chart-title"><%=chart.title%></label>
              <label class="chart-label"><%=chart.label%></label>
            </div>

            <div class="chart-holder">


              <% if (chart.getItems().length === 0){
               %>
                <label class="chart-hint">Sem dados para apresentar.</label>

                <% }else{

              chart.getItems().forEach(function(item) {%>
                  <div class="chart-bar-holder">
                    <div class="chart-bar-group">


                      <div class="avatar-holder">
                        <img class="avatar-img circle shadow" data-src="img/avatar/<%=item.imgName%>.jpg" src="img/avatar/default.jpg" />
                        <span class="label shadow avatar-name"><%=item.label%></span>
                      </div>

                      <div class="bars-holder">
                        <% item.getBars().forEach(function(bar){%>
                          <div class="bar shadow grow-bar" data-height="<%=bar.getHeight()%>">

                            <span class="bar-value"><%=bar.getDisplayValue();%></span>

                          </div>

                          <%}); %>

                      </div>


                    </div>
                  </div>
                  <% }); }%>

            </div>
          </div>
          <% }); %>
      </div>

  </body>


  <script>
    $(document).ready(function() {

      loadImages('avatar-img', 'data-src');



      $('.grow-bar').each(function() {
        //$(this).height($(this).attr('data-height'));

        $(this).animate({
          height: $(this).attr('data-height')
        }, 600);
      });


    });
  </script>

</html>