<html>
<% include menu %>

<head>
  <link rel="stylesheet" type="text/css" href="/css/picking.css">
  <script type="text/javascript" src="/control/picking.js"></script>
  <link rel="stylesheet" type="text/css" href="/css/libs/material-input.css">
  <link rel="stylesheet" type="text/css" href="/css/libs/material-select.css">
</head>

<body>

  <script>
  window.inprogress = <%- JSON.stringify(inprogress || null) %>
  window.pendingSales = <%- JSON.stringify(pendingSales || null) %>
  </script>


  <div class="main-content">
    <% include picking-menu %>

    <div class="main-pick">
      <div class="col dotted">
        <div class="find-next-holder shadow">
          <span class="picking-title label header-title"> Impressão de Picking </span>

          <div class="material-input-holder group input-group">
            <input type="text" id="user-id" required>
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>Código de Acesso</label>

            <p class="error">Erro</p>
            <p class="sucess">Sucesso</p>
          </div>


          <div class="dropdown">
            <input id="tramsport-list" type="checkbox" name="checkbox" checked />
            <label class="label-transport" for="tramsport-list">
              <div class="drop-ttl"><label class="inner-label"><%=selectedTransp ? selectedTransp : 'Transportadora'%></label></div>
              <ul>
                <% Object.keys(transportList).forEach((key)=>{%>
                  <li><a href="/picking?transp=<%=key%>"><%=key%></a></li>
                  <%})%>
                </ul>
              </label>
            </div>


          </div>

          <div class="pick-box shadow upcoming-box">



            <div class="pick-header">
              <span class="label header-title"> Próximos Pedidos</span>
              <span class="label header-count"> <%=remaining%></span>
            </div>




            <%
            upcoming.forEach(function(preview){
              %>

              <div class="shadow label mini-item solved">

                <table width="100%">
                  <tr>
                    <td><span class="pick-value green-title"><%=preview.numeroPedido %></span></td>
                    <td><span class="pick-value"><%=preview.transport%></span></td>
                    <td><span class="pick-value" style="float:right"><%= Dat.format(new Date(preview.data))%></span></td>
                  </tr>
                  <tr>
                    <td><span class="pick-value"><%=preview.itemsQuantity %> Itens</span></td>
                    <td><span class="pick-value"></span></td>
                    <td><span class="pick-value" style="float:right"><%=Num.money(preview.totalProdutos) %></span></td>
                  </tr>
                </table>
              </div>

              <%
            });
            %>

          </div>
        </div>


        <div class="col">

          <div class="pick-box shadow green-top">
            <div class="pick-header">
              <span class="label header-title"> Em Andamento</span>
              <span class="label header-count inprogress-count"> <%=Object.keys(inprogress).length%></span>
            </div>


            <%

            var progress = Object.keys(inprogress);


            if (progress.length === 0){
              %><span class="pick-hint">Nenhum picking em andamento </span>
              <%
            }


            progress.forEach((key) => {
              var sale = inprogress[key];

              %>
              <div class="shadow label mini-item inprogress-item clickable-mini-item solved" data-sale="progress-<%=sale.numeroPedido %>">
                <table width="100%">
                  <tr>
                    <td rowspan="2">
                      <img class="circle shadow avatar-img mini-avatar" src="/img/avatar/<%=sale.pickUser.id%>.jpg" onerror="this.src='/img/avatar/default.jpg'" />
                    </td>
                    <td><span class="pick-value green-title"><%=sale.numeroPedido %></span></td>
                    <td><span class="pick-value"><%=sale.itemsQuantity %> Itens</span></td>
                    <td><a href="<%=printPickingUrl + sale.id %>" target="_blank"><div class="print-sale-holder" title="Reimprimir" ><img class="print-sale" src="/img/print.png" /></div></a></td>
                  </tr>
                  <tr>
                    <td><span class="pick-value"><%=sale.pickUser.name ? sale.pickUser.name.split(" ")[0] : 'Desconhecido'%></span></td>
                    <td><span class="pick-value"><%=sale.transport %></span></td>
                    <td><span class="pick-value inprogress-begin" style="float:right" diftime="<%=new Date().getTime() - sale.begin.getTime()%>"></span></td>
                  </tr>
                </table>

              </div>
              <%
            });
            %>
          </div>
        </div>



        <div class="col opened-sale-box">

          <div class="pick-box shadow orange-top">
            <div class="pick-header">
              <span class="label header-title">Pedido</span>
              <span class="label header-count green-title sale-number"></span>
              <label class="button pending-button shadow">Pendência</label>
            </div>


            <div class="items-holder">
              <table id="opened-sale" width="100%">
                <tr>
                  <td colspan="4">
                    <table width="100%">
                      <tr>
                        <td><span class="pick-value" id="sale-transport"><span></td>
                          <td><span class="pick-value" id="sale-date"> </span></td>
                          <td><span class="pick-value" id="sale-itens"> </span></td>
                          <td><span class="pick-value right" id="sale-value">  </span></td>
                        </tr>
                      </table>
                    </tr>

                    <tr class="dotted-line">
                      <td><span class="pick-value">Produto</span></td>
                      <td><span class="pick-value">Quant.</span></td>
                      <td><span class="pick-value">Preço</span></td>
                      <td><span class="pick-value">Pend.</span></td>
                    </tr>

                  </table>

                </div>



              </div>
            </div>


            <div class="col">
              <div class="pick-box shadow blue-top">
                <div class="pick-header">
                  <span class="label header-title">Pronto</span>
                  <span class="label header-count green-title sale-number"><%=donePickings.length%></span>
                </div>

                <%if (donePickings.length === 0){
                  %><span class="pick-hint">Nenhum picking pronto</span>
                  <%
                }%>

                <table width="100%">
                  <tr class="dotted-line">
                    <td><span class="pick-value">Pedido</span></td>
                    <td><span class="pick-value">Transp.</span></td>
                    <td><span class="pick-value">Data</span></td>
                    <td><span class="pick-value" style="float:right">Em aberto</span></td>
                  </tr>
                  <%
                  donePickings.forEach(function(sale, index){
                    %>

                    <tr >
                      <td class="clickable-mini-item"><a href="<%=printPickingUrl + sale.id %>" target="_blank"><span class="pick-value green-title"><%=sale.numeroPedido %></a></span></td>
                      <td><span class="pick-value"><%=sale.transportador ? sale.transportador.split(' ')[0] : 'Retirada' %> </span></td>
                      <td><span class="pick-value" ><%= Dat.format(new Date(sale.data))%></span></td>
                      <td><span class="pick-value" style="float:right"><%=Dat.daysDif(new Date(sale.data), new Date()) + ' Dias'%></span></td>
                    </tr>

                    <%
                  });
                  %>

                </table>
              </div>
            </div>

            <div class="col pending-sales ">

              <div class="pick-box shadow pending-box red-top">
                <div class="pick-header">
                  <span class="label header-title">Pendências</span>
                  <span class="label header-count green-title"><%=pendingSales.length%> </span>
                </div>


                <%if (pendingSales.length === 0){
                  %><span class="pick-hint">Nenhuma pendência a resolver</span>
                  <%
                }%>


                <%
                pendingSales.forEach(function(pending, index){
                  var sale = pending.sale;
                  %>

                  <div class="shadow label mini-item clickable-mini-item pending-item <%= pending.solved ? 'solved' : 'not-solved'%>"  data-index="pending-<%=index%>">

                    <table width="100%">
                      <tr>
                        <td rowspan="2">
                          <img class="circle shadow avatar-img mini-avatar" src="/img/avatar/<%=sale.pickUser.id%>.jpg" onerror="this.src='/img/avatar/default.jpg'" />
                        </td>
                        <td><span class="pick-value green-title"><%=sale.numeroPedido %></span></td>
                        <td><span class="pick-value"><%=sale.transport %></span></td>
                        <td><span class="pick-value" style="float:right"><%=sale.items.filter((i)=>{
                          return i.pending;
                        }).length %> Itens</span></td>
                      </tr>
                      <tr>
                        <td><span class="pick-value"><%=sale.pickUser.name ? sale.pickUser.name.split(" ")[0] : 'Desconhecido'%></span></td>
                        <td><span class="pick-value" ><%= Dat.format(new Date(sale.data))%></span></td>
                        <td><span class="pick-value" style="float:right"><%=Dat.daysDif(new Date(sale.data), new Date()) + ' Dias'%></span></td>
                      </tr>
                    </table>
                  </div>

                  <%
                });
                %>



              </div>
            </div>
          </div>
        </div>
      </body>

      </html>
