<html>
  <% include menu %>

    <head>
      <link rel="stylesheet" type="text/css" href="/css/picking.css">
      <script type="text/javascript" src="/control/picking.js"></script>
      <link rel="stylesheet" type="text/css" href="/css/input-material.css">
    </head>

    <body>


      <div class="main-content">


        <div class="col">
          <div class="find-next-holder shadow">
            <span class="label picking-title"> Impressão de Picking </span>

            <div class="group input-group">
              <input type="text" id="user-id" required>
              <span class="highlight"></span>
              <span class="bar"></span>
              <label>Código de Acesso</label>

              <p class="error">Erro</p>
              <p class="sucess">Sucesso</p>
            </div>
          </div>

          <div class="pick-box shadow">



            <div class="preview-header">
              <span class="label header-title"> Próximos Pedidos</span>
              <span class="label header-count"> <%=remaining%></span>
            </div>




            <%
        upcoming.forEach(function(preview){
          %>

              <div class="shadow label mini-item">
                <div>
                  <span class="pick-value green-title">
                <%=preview.numeroPedido %>
              </span>

                  <span class="pick-value" style="float:right">
                <%= Dat.format(new Date(preview.data))%>
              </span>
                </div>

                <div>
                  <span class="pick-value">
                <%=preview.itemsQuantity %> Itens
              </span>

                  <span class="pick-value" style="float:right">
                <%=Num.money(preview.totalProdutos) %>
              </span>
                </div>
              </div>

              <%
        });
        %>

          </div>
        </div>

        <div class="col">

          <div class="pick-box shadow">
            <div class="inprogress-header">
              <span class="label header-title"> Em Andamento</span>
              <span class="label header-count inprogress-count"> <%=Object.keys(inprogress).length%></span>
            </div>


            <%

        var progress = Object.keys(inprogress);


        if (progress.length === 0){
          %><span class="pick-hint">Nenhum picking em andamento </span>
              <%
        }


        progress.forEach((key) => {
          var sale = inprogress[key];

          %>
                <div class="shadow label mini-item" data-sale="progress-<%=sale.numeroPedido %>">
                  <div class="avatar-holder left-avatar">
                    <img class="circle shadow avatar-img mini-avatar" src="/img/avatar/<%=sale.pickUser.id%>.jpg" onerror="this.src='/img/avatar/default.jpg'" />

                  </div>

                  <div class="inner-mini-item">
                    <div>
                      <span class="pick-value green-title"><%=sale.numeroPedido %></span>
                      <span class="pick-value" style="float:right"><%=sale.itemsQuantity %> Itens</span>
                    </div>

                    <div>
                      <span class="pick-value"><%=sale.pickUser.name%></span>
                      <span class="pick-value inprogress-begin" style="float:right" data-begin="<%=sale.begin.getTime()%>"></span>
                    </div>
                  </div>

                </div>
                <%
        });
        %>
          </div>
        </div>
      </div>

    </body>

</html>