<html>
<% include menu %>

<head>
  <link rel="stylesheet" type="text/css" href="/front/css/layout/charts.css">
  <link rel="stylesheet" type="text/css" href="/front/css/layout/performance.css">
  <script type="text/javascript" src="/front/js/libs/file-loader.js"></script>
  <script type="text/javascript" src="/front/js/libs/date-picker.js"></script>
  <script type="text/javascript" src="/front/js/libs/gradient-back.js"></script>
  <script type="text/javascript" src="/front/js/control/chart-page.js"></script>
</head>

<body>
  <div class="main-content">
    <div class="panels">
      <div class="left-panel shadow">

        <div class="avatar-box gradient-effect">
            <img class="avatar-img circle shadow zoomed-avatar" src="<%=user.avatar%>"  />
            <span class="label shadow avatar-name zoomed-avatar-name"><%=user.name%></span>


        </div>

        <div class="indicators-box">
          <% indicators.getGroups().forEach((group)=>{ %>
            <div class="indicator-group">
              <label class="indicator-group-label label"> <%=group.label%> </label>
              <div class="group-items-holder dotted-top">
                <% group.getItems().forEach((item)=>{ %>

                  <div class="indicator-item">
                    <div class="indicator-dot circle shadow" style="background-color: #<%=item.color%>"> </div>
                    <label class="indicator-label label"> <%=Num.format(item.value)%> </label>
                    <label class="indicator-label label"> <%=item.label%> </label>
                  </div>
                  <%}); %>
                </div>
              </div>

              <%}); %>

            </div>
          </div>

          <div class="main-panel" >
            <%include group-chart-render%>

          </div>
        </div>

      </div>

    </body>

    </html>
