
<%var usagesEnum = Util.clone(usages);%>

<html>
<%  include ../menus/main-menu %>
<head>
  <link rel="stylesheet" type="text/css" href="/front/css/libs/material-input.css">
  <link rel="stylesheet" type="text/css" href="/front/css/layout/templates/templates.css">

  <script type="text/javascript" src="/front/js/control/templates/templates.js"></script>
  <script type="text/javascript" src="/front/js/libs/template-editor.js"></script>
  <script type="text/javascript" src="/front/js/libs/request-helper.js"></script>
  <script type="text/javascript" src="/front/js/libs/dropdown.js"></script>
  <script type="text/javascript" src="/front/js/libs/combobox.js"></script>
  <script type="text/javascript" src="/front/js/libs/tooltip.js"></script>
</head>
<body>


  <div class="main-content">
    <div class="panels">
      <div class="left-panel shadow">

        <label class="sub-title left"><%=templateType == 'email' ? 'Templates de E-mail' : 'Blocks Estáticos'%> <img src="img/plus-gray.png" class="add-new mini-icon-button"> </label>


        <div class="templates-holder">

          <%
          all.sort((a,b) => {
            return b.usage.localeCompare(a.usage);
          }).forEach((each)=>{

            if (each.usage != selected.usage){
              delete usagesEnum[each.usage];
            }
            %>



            <div class="each-template-line <%=selected.id == each.id ? 'active' : ''%> " data-id="<%=each.id%>">

              <%if (each.usage && templateType == 'email'){%>
                <div class="active-circle"></div>
                <%}else if (templateType == 'block'){
                  if(Dat.daysDif(new Date(each.updated), new Date()) < 30){%>

                    <div class="active-circle"></div>

                <% }
                }%>


                <span><%=each.name%></span>
                <div class="icon-dots" data-id="<%=each.id%>">
                  
                </div>
              </div>
              <%});%>


            </div>


          </div>

          <div class="main-panel shadow">


            <div class="template-top">

              <div class="row">

                <div class="material-input-holder name-holder">
                  <input type="text" id="template-name" value="<%=selected.name%>" autocomplete="off" required/>
                  <span class="bar"></span>
                  <label>Nome do Template</label>
                </div>

                <%if (templateType == 'email'){%>
                  <div class="material-input-holder usage-holder">
                    <input type="text" id="template-usage" value="<%=(selected.usage && usages[selected.usage] ? usages[selected.usage].name : '') %>" autocomplete="off" required/>
                    <span class="bar"></span>
                    <label>Usado em</label>
                  </div>
                  <%}%>

                  <%if (templateType == 'block'){%>
                    <div class="material-input-holder usage-holder">
                      <input type="text" id="template-usage" value="<%=(selected.updated ? Dat.formatwTime(new Date(selected.updated))  : '') %>" autocomplete="off" required disabled="true"/>
                      <span class="bar"></span>
                      <label>Ultima Renderização</label>
                    </div>
                    <%}%>

                  <label class="button save shadow">Salvar</label>
                </div>


                <%if (templateType == 'email'){%>
                  <div class="row">
                    <div class="material-input-holder">
                      <input type="text" id="subject"  value="<%=selected.subject%>" autocomplete="off" required/>
                      <span class="bar"></span>
                      <label>Assunto</label>
                    </div>
                  </div>
                  <%}%>

                </div>

                <div class="template-bottom">

                  <div id="editor">

                  </div>


                </div>






              </div>

            </div>
          </div>


          <script class="hidable-script">

            window.selected = <%- JSON.stringify(selected || {}) %>
            window.usages = <%- JSON.stringify(usagesEnum || {}) %>
            window.templateType = <%- JSON.stringify(templateType || {}) %>
          </script>


        </body>
        </html>
