
<div class="avatar-group">
  <a href="/profile/performance?userid=<%=user ? user.id : 0%>">
    <img class="avatar-img circle shadow <%= locals.addClass ? locals.addClass : ''%>" src="<%=user ? user.avatar : ''%>"  data-userid="<%=user ? user.id : 0%>" title="<%=user ? user.name || user.id : ''%>" onerror="this.src='/img/avatar.png'"/>


    <%
    if (user.full || user.leader){%>
      <img class="avatar-badge" src="/img/<%= user.full ? 'full-badge' : 'leader-badge'%>.png" />
    <%}%>

      <%if (locals.showName){%>
        <span class="label shadow avatar-name"><%=user ? Str.first_word(user.name) : 'Desconhecido'%></span>
        <%}%>
      </a>
  </div>
