<html>
<%  include ../menus/main-menu %>

<head>
  <link rel="stylesheet" type="text/css" href="/front/css/layout/general.css">
  <link rel="stylesheet" type="text/css" href="/front/css/layout/user-registering.css">
  <link rel="stylesheet" type="text/css" href="/front/css/libs/material-checkbox.css">



  <script type="text/javascript" src="/front/js/control/user-registering.js"></script>
  <script type="text/javascript" src="/front/js/libs/request-helper.js"></script>

  <script type="text/javascript" src="/front/js/libs/combobox.js"></script>

  <script type="text/javascript" src="/front/js/libs/croppie.js"></script>
  <link rel="stylesheet" type="text/css" href="/front/css/libs/croppie.css">


  <title>Hawk</title>
  <link rel="icon" href="/img/icon/favicon.ico" type="image/x-icon" />
  <link rel="shortcut icon" href="/img/icon/favicon.ico" type="image/x-icon" />
</head>

<body>

  <script>
  window.selectedUser = <%- JSON.stringify(user) %>
  window.userSetts = <%- JSON.stringify(user ? user.setts ? user.setts : {} : {}) %>
  </script>


  <div class="main-content">


    <input id="avatar-input-file" type="file" name="avatar" >



    <form class="user-registering shadow" name="user-registering" action="user-registering" method="post" id="user-registering">

      <div class="header">



        <div class="avatar-holder">
          <img class="circle shadow avatar-img" id="avatar-user-registering" src="<%=user ? user.avatar : 'img/avatar.png'%>" title="System" />
          <input type="text" id="editing" value="<%=user ? user.id : -1%>" style="display:none"/>
          <label class="edit-image"> Editar </label>
          <img src="img/checked.png" class="dots-glyph avatar-crop-ok">

        </div>
        <div class="header-name">
          <input type="text" class="simple-material-input search-input" value="<%=user ? user.name : ''%>" id="user-search" placeholder="Usuário" autocomplete="off"/>
          <span class="label-title" id="title-label"><%=user ? user.title : 'Indefinido'%></span>
        </div>


      </div>

      <div class="main-form">

        <div class="fields">
          <div class="main-left">

            <div class="left-panel">
              <div class="oderner">
                <input type="text" id="name" class="input-val simple-material-input" placeholder="Nome" name="name" value="<%=user ? user.name : ''%>" autocomplete="off" maxlength="30"/>
                <input type="text" id="title"  class="input-val simple-material-input"placeholder="Grupo" name="sector" value="<%=user ? user.title : ''%>" autocomplete="off"/>
                <input type="text" id="avatar" class="input-val simple-material-input" placeholder="Avatar" name="avatar" value="<%=user ? user.avatar : ''%>" autocomplete="off"/>




              </div>
            </div>


            <div class="right-panel">
              <div class="oderner">

                <input type="text" id="access" class="input-val simple-material-input" placeholder="Código de Acesso" name="access" value="<%=user ? user.access : ''%>" onkeypress="return Num.isNumberKey(event);"  autocomplete="off"/>
                <input type="text" id="id" class="input-val simple-material-input" placeholder="Identificação" name="id" value="<%=user ? user.id : ''%>"  onkeypress="return Num.isNumberKey(event);"  autocomplete="off" title="Código do Eccosys"/>
              </div>
            </div>


          </div>


          <label class="token-label"> Token de Usuário </label>
          <textarea class="input-val simple-material-input" id="token" placeholder="Token" name="token"  rows="5" title="Token de acesso a API"><%=user ? user.token : ''%></textarea>




          <label class="pure-material-checkbox" >
            <input type="checkbox" id="active" name="active" <%=user ? user.active ? 'checked' : '' : ''%>>
            <span>Ativo</span>
          </label>


          <label class="pure-material-checkbox">
            <input type="checkbox" id="full" name="full" <%=user ? user.full ? 'checked' : '' : ''%>>
            <span>Administrador</span>
          </label>

          <label class="pure-material-checkbox">
            <input type="checkbox" id="leader" name="leader" <%=user ? user.leader ? 'checked' : '' : ''%>>
            <span>Líder</span>
          </label>


          <div class="menus-opts-holder">

            <span class="menu-title">Menus</span>
            <div class="menus-opts-inner">



            </div>
          </div>

        </div>

        <div class="settings-holder">
          <div class="scroll">
            <div class="settings">


            </div>
          </div>
        </div>
      </div>


      <div class="footer">
        <label class="button shadow" id="save" >Salvar</label>
        <%if (loggedUser && loggedUser.full){%>
          <label class="button shadow" id="new">Novo</label>
          <label class="button shadow" id="delete">Excluir</label>
          <%}%>
        </div>

      </form>

    </div>



  </body>

  </html>
