<!DOCTYPE html>
<html lang="en" dir="ltr">
<%  include ../menus/main-menu %>

<head>
  <link rel="stylesheet" type="text/css" href="/front/css/layout/user-listing.css">
  <script type="text/javascript" src="/front/js/libs/dropdown.js"></script>
  <script type="text/javascript" src="/front/js/control/users/user-listing.js"></script>
  <script type="text/javascript" src="/front/js/libs/request-helper.js"></script>
</head>
<body>

  <%  include ../menus/user-menu %>

  <script class="hidable-script">
  window.users = <%- JSON.stringify(users) %>
  </script>

  <div class="main-content">
    <div class="list-users-holder">
      <div class="list-users">
        <label class="list-users-title">Ativos</label>
        <label class="list-users-title-count"><%=Object.values(users).filter((user)=>{
          return user.active;}).length;%></label>
        <table class="users-table shadow table-active">
          <% Object.values(users).sort((a, b) => a.name.localeCompare(b.name)).forEach((user)=>{
            if(user.active)
            {%>

              <tr class="active-row" data-userid="<%=user.id%>">
                <td ><%- include('../user/avatar', {user: user, showName: false});  %></td>
                <td><%=user.name%></td>
                <td><%=user.title%></td>
                <td><%=user.full? 'Administrador' : (user.leader? 'Líder' : '')%></td>
                <td><%=user.access%></td>
                <td title="<%=user.pass%>">######</td>
                <td>Ativo</td>
                <td>
                  <div class="icon-dots" data-userid="<%=user.id%>" data-active="<%=user.active%>">

                  </div>
                </td>
              </tr>
              <% }})%>
            </table>
          </div>

          <div class="list-users">
            <label class="list-users-title">Inativos</label>
            <label class="list-users-title-count"><%=Object.values(users).filter((user)=>{
              return user.active == false;
            }).length; %></label>
            <table class="users-table shadow table-inactive">
              <% Object.values(users).sort((a, b) => a.name.localeCompare(b.name)).forEach((user)=>{
                if(user.active == false){
                  %>

                  <tr class="inactive-row" data-userid="<%=user.id%>">
                    <td ><%- include('../user/avatar', {user: user, showName: false});  %></td>
                    <td><%=user.name%></td>
                    <td><%=user.title%></td>
                    <td><%=user.full? 'Administrador' : (user.leader? 'Líder' : '')%></td>
                    <td><%=user.access%></td>
                    <td title="<%=user.pass%>">######</td>
                    <td>Inativo</td>
                    <td>
                      <div class="icon-dots" data-userid="<%=user.id%>" data-active="<%=user.active%>">

                      </div>
                    </td>
                  </tr>
                  <%}})%>
                </table>
              </div>
            </div>
          </div>

        </body>
        </html>
