<html>
<%  include ../menus/main-menu %>

<head>
  <link rel="stylesheet" type="text/css" href="/front/css/layout/pending-product.css">

  <script type="text/javascript" src="/front/js/control/pending-products.js"></script>
  <script type="text/javascript" src="/front/js/control/blocked/blocked-post.js"></script>
  <script type="text/javascript" src="/front/js/libs/image-preview.js"></script>
  <script type="text/javascript" src="/front/js/libs/dropdown.js"></script>
  <script type="text/javascript" src="/front/js/libs/request-helper.js"></script>
</head>

<script class="hidable-script">



window.list = <%- JSON.stringify(list)%>



</script>


<%




%>

<body>
  <%  include ../menus/pending-menu %>


  <div class="main">





    <div class="divider">




      <div class="box-group shadow">
        <%
        var blockeds = list.filter((i)=>{
          return i.type == 'block';
        });
        %>


        <div class="box-header">
          <span class="label header-title">Bloqueados</span>
          <span class="label header-count"><%=blockeds.length%></span>
        </div>


        <div class="grid-flow">
          <% blockeds.forEach(function(each){ %>
            <%- include('../pending/pending-product-box', {data: each});  %>
            <%});%>
          </div>
        </div>




      </div>






      <div class="divider">




        <div class="box-group shadow">
          <%
          var pendings = list.filter((i)=>{
            return i.type == 'pending';
          });
          %>

          <div class="box-header">
            <span class="label header-title">Pendentes</span>
            <span class="label header-count"><%=pendings.length%></span>
          </div>


          <div class="grid-flow">
            <% pendings.forEach(function(each){ %>
              <%- include('../pending/pending-product-box', {data: each});  %>
              <%});%>
            </div>
          </div>




        </div>





      </div>


    </body>
    </html>
