
<div class="fixes-main">

  <div class="fixes-left">

    <div class="top-image-holder">
      <a href="<%=product ? product.url : ''%>" target="_blank">
        <label class="sku-name"><%=product ? Str.short(Util.getProductName(product.name), 42): ''%></label>
      </a>
      <%var brand = product ? Util.getProductBrand(product.name) : ''%>
      <a href="<%=process.env.STORE_UTL + '/' + brand.trim().replace(' ', '-').toLowerCase(); %>" target="_blank">
        <label class="sku-brand"><%=brand%></label>
      </a>

    </div>
    <div class="image-holder">

      <img src="<%=product ? product.image : ''%>" onerror="this.src='/img/product-placeholder.png'"/>
    </div>

  </div>

  <div class="fixes-right">

    <%data.forEach(item=>{%>

      <label class="fixes-sku-list copiable"><%=item.sku%></label>

      <div class="fixes-sku-badges">
        <%item.fixes.forEach(type=>{%>

           <div class="badge-item">
             <img class="ind-icon" src="img/<%=Util.diagIcon(type)%>.png"/>
             <label class="ind-title"><%=Util.diagTitle(type)%></label>

             <img class="ind-icon right fix-this" src="img/restart.png" data-sku="<%=item.sku%>" data-type="<%=type%>"/>
           </div>

        <%});%>
      </div>
 


    <%});%>
      </div>

    <script type="text/javascript">
      $(document).ready(()=>{
        $('.fix-this').click(function(){
          $(this).attr('src', 'img/loader/circle.svg');
          var sku = $(this).data('sku');

          _post('/check-product-diagnostic', {sku: sku},(data)=>{
            var type = $(this).data('type');
            var obj = data.data.find((item)=>{return item.sku == sku});

            var fixed = !obj || !obj.fixes.includes(type);

            if (fixed){
              $(this).attr('src', 'img/checked.png');
              $(this).unbind('click');
            }else{
              $(this).attr('src', 'img/restart-error.png');
            }
          });
        });


        $('.fixes-sku-list.copiable').dblclick(function(e){
          e.stopPropagation();
          window.open('/product?sku=' + $(this).text(),'_blank');
        });
      });

    </script>

  </div>

</div>
