<!DOCTYPE html>
<html lang="en" dir="ltr">
<%include ../menus/main-menu %>
<head>
  <link rel="stylesheet" type="text/css" href="/front/css/libs/material-input.css">
  <link rel="stylesheet" type="text/css" href="/front/css/layout/sale-dashboard.css">
  <script type="text/javascript" src="/front/js/control/sale-dashboard.js"></script>
  <script type="text/javascript" src="/front/js/libs/date-picker.js"></script>

  <script type="text/javascript" src="/front/js/libs/request-helper.js"></script>
  <script type="text/javascript" src="/front/js/libs/dropdown.js"></script>
</head>
<body>
  <%include ../menus/performance-menu %>
  <script>
  window.data = <%- JSON.stringify(data) %>;
  window.memoryQuery = <%- JSON.stringify(locals.salesDashQuery ? locals.salesDashQuery : {}) %>
  </script>

  <div class="main">
    <div class="top shadow">
      <div class="search-box">
        <img class="icon-open is-open" title="Abrir seletor" src="/img/open-down.png">
        <input type="text" id="search-input"  class="simple-material-input" placeholder="Pesquisar Pedidos" autocomplete="off"/>


        <div class="date-selectors">
          <div class="material-input-holder date-begin-holder">
            <input id="date-begin" maxlength="8"
            autocomplete="off"
            title="Data de Início" required/>

            <span class="bar"></span>
            <label>Data de Início</label>
          </div>


          <div class="material-input-holder date-end-holder">
            <input id="date-end" maxlength="8"
            autocomplete="off"
            value="<%=Dat.format(Dat.today())%>"
            title="Data de Fim" required/>

            <span class="bar"></span>
            <label>Data de Fim</label>
          </div>
        </div>


        <label class="button shadow" id="search-button" tabindex="0">Buscar</label>

        <div class="menu-dots">
          <img src="img/dots.png" class="dots-glyph"/>
        </div>

        <label id="totals"></label>
      </div>

      <div class="tag-box">


      </div>
    </div>


    <div class="content-scroll">

      <div class="content-grid">

        <div class="grid-item shadow">


          <div class="row">
            <span class="title">Geral
              <span class="right"> <%=data.count%></span>
            </span>

            <div class="col">
              <span class="super">Valor</span>
              <span class="value high-val"><%=Num.money(data.total)%></span>
            </div>

            <div class="col">
              <span class="super">Desconto</span>
              <span class="value high-val"><%=Num.money(data.discount)%></span>
            </div>

            <div class="col">
              <span class="super">Ticket</span>
              <span class="value"><%=Num.money(data.tkm)%></span>
            </div>

            <div class="col">
              <span class="super">Custo Produtos</span>
              <span class="value"><%=Num.money(data.cost)%></span>
            </div>

            <div class="col">
              <span class="super">Frete</span>
              <span class="value"><%=Num.money(data.freight)%></span>
            </div>

            <div class="col">
              <span class="super">Lucro</span>
              <span class="value <%= data.profit ? 'green-val' : 'red-val'%>"><%=Num.money(data.profit)%></span>
            </div>

          </div>




          <div class="row gray">
            <span class="title">Produtos
              <span class="right"> <%=data.items%></span>
            </span>

            <div class="col">
              <span class="super">Med. Pedido</span>
              <span class="value"><%=Floa.abs(data.avgItems,3)%></span>
            </div>

            <div class="col">
              <span class="super">Med. Un</span>
              <span class="value"><%=Num.money(data.avgUnit)%></span>
            </div>
          </div>


        </div>


        <div class="grid-item shadow">
          <div class="row">
            <%var book = data.uf%>
            <%var keys = Object.keys(book).sort((a, b) => book[b].count - book[a].count);%>
            <span class="title">Ufs
              <span class="right"> <%=keys.length%></span>
            </span>
            <%keys.forEach((key)=>{%>
              <div class="col coloring-data" data-color="rgba(200, 200, 200, x)" data-max="<%=book[keys[0]].count%>" data-cur="<%=book[key].count%>">
                <span class="super"><%=key%> <span class="right"> <%=book[key].count%></span></span>
                <span class="value min-val"><%=Num.format(book[key].total)%></span>
              </div>
            <%})%>
          </div>
        </div>

        <div class="grid-item shadow">
          <div class="row">
            <%var book = data.paymentType%>
            <%var keys = Object.keys(book).sort((a, b) => book[b].count - book[a].count);%>
            <span class="title">Pagamentos
              <span class="right"> <%=keys.length%></span>
            </span>

            <%keys.forEach((key)=>{%>
              <div class="col coloring-data" data-color="rgba(218, 253, 249, x)" data-max="<%=book[keys[0]].count%>" data-cur="<%=book[key].count%>">
                <span class="super"><%=Util.getPaymentType(key)%> <span class="right"> <%=book[key].count%></span></span>
                <span class="value high-val"><%=Num.percent(book[key].count*100/data.count)%>  <span class="right min-val"> <%=Num.format(book[key].total)%></span></span>
              </div>
            <%})%>
          </div>

          <div class="row gray coupom-box">
            <%var book = data.coupom%>
            <%var keys = Object.keys(book).sort((a, b) => book[b].count - book[a].count);%>
            <span class="title">Cupons
              <span class="right"> <%=keys.length%></span>
            </span>

            <%keys.forEach((key)=>{%>
              <div class="col coupom">
                <span class="super"><%=key%> <span class="right high-val"> <%=book[key].count%></span></span>
              </div>
            <%})%>
          </div>
        </div>


      </div>




    </div>

  </div>

</body>
</html>
