<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title></title>

  <style>
  table{
    display: inline;
    font-family: sans-serif;
    font-size: 15px;
    color: rgb(23, 24, 24);
  }

  .items{
    font-family: sans-serif;
    font-size: 13px;
    font-weight: 500px;
    color: rgb(98, 94, 102);
  }
  </style>
</head>
<body>
  <script type="text/javascript">
  window.line = <%- JSON.stringify(line || null) %>
  window.blocks = <%- JSON.stringify(blocks || null) %>
  </script>

  <div class="main">

    <table class="sales">
      <tr>
        <td>Pedido</td>
        <td>Cliente</td>
        <td>Data</td>
        <td>Estado</td>
        <td>Transportadora</td>
      </tr>

      <%line.forEach((each)=>{
        %>
        <tr>
          <td><%=each.numeroPedido%></td>
          <td><%=each.client ? each.client.nome : 'NONE'%></td>
          <td><%=Dat.format(new Date(each.data))%></td>
          <td><%=each.client ? each.client.uf : 'NONE'%></td>
          <td><%=each.transport%></td>
        </tr>

        <tr>
          <td></td>
          <td colspan="4">
            <table class="items">
              <% if (each.items){
                each.items.forEach((eachItem)=>{%>
                  <tr>
                    <td><%=eachItem.codigo%></td>
                    <td><%=eachItem.descricao%></td>
                  </tr>
                  <%})}%>
                </table>
              </td>
            </tr>
            <%
          });%>
        </table>

        <table class="blocks">
          <tr>
            <td>Pedido</td>
            <td>Bloqueio</td>
          </tr>

          <%blocks.forEach((each)=>{
            %>
            <tr>
              <td><%=each.id%></td>
              <td>'Bloqueado'</td>
            </tr>

            <tr>
              <td colspan="2">
                <table class="items">
                  <% if (each.items){
                    each.items.forEach((eachItem)=>{%>
                      <tr>
                        <td><%=eachItem.codigo%></td>
                        <td><%=eachItem.descricao%></td>
                      </tr>
                      <%})}%>
                    </table>
                  </td>
            </tr>
         <%})%>


          </table>
        </div>

      </body>
      </html>
