<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title></title>

  <style>
    .sales{
      font-family: sans-serif;
      font-size: 15px;
      font-weight: 600px;
      color: rgb(23, 24, 24);
    }

    .items{
      font-family: sans-serif;
      font-size: 13px;
      font-weight: 500px;
      color: rgb(98, 94, 102);
    }
  </style>
</head>
<body>
  <script type="text/javascript">
  window.line = <%- JSON.stringify(line || null) %>
  </script>

  <table class="sales">
    <td>Pedido</td>
    <td>Cliente</td>
    <td>Data</td>
    <td>Estado</td>
    <td>Transportadora</td>

    <%line.forEach((each)=>{
      %>
      <tr>
        <td><%=each.numeroPedido%></td>
        <td><%=each.client ? each.client.nome : 'NONE'%></td>
        <td><%=Dat.format(new Date(each.data))%></td>
        <td><%=each.client ? each.client.uf : 'NONE'%></td>
        <td><%=each.transport%></td>
      </tr>

      <tr>
        <td></td>
        <td colspan="4">
          <table class="items">
            <% if (each.items){
             each.items.forEach((eachItem)=>{%>
              <tr>
                <td><%=eachItem.quantidade%></td>
                <td><%=eachItem.codigo%></td>
                <td><%=eachItem.descricao%></td>
              </tr>
              <%})}%>
            </table>
          </td>
        </tr>
        <%
      });%>
    </table>

  </body>
  </html>
