<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title></title>

  <style>
  table{
    border-collapse: collapse;
    display: inline;
    font-family: sans-serif;
    font-size: 15px;
    color: rgb(23, 24, 24);
  }

  .items{
    font-family: sans-serif;
    font-size: 13px;
    font-weight: 500px;
    color: rgb(98, 94, 102);
  }

  .line-here td{
    padding-top: 4px;
    padding-bottom: 4px;
    border-top: 2px solid #989898;
  }
  td{
    padding-right: 10px;
  }

  .highlight td{
    background-color: #77ff7c85;
  }

  .red td{
    background-color: #ff667ba1;
  }
  </style>
</head>
<body>
  <script type="text/javascript">
  window.line = <%- JSON.stringify(line || null) %>
  window.blocks = <%- JSON.stringify(blocks || null) %>
  window.rules = <%- JSON.stringify(rules || null) %>
  </script>

  <div class="main">

    <table>
      <tr>
        <td>Pedido</td>
        <td>Cliente</td>
        <td>Data</td>
        <td>Estado</td>
        <td>Transportadora</td>
      </tr>

      <%line.forEach((each)=>{

        var repeated = line.filter(e => {return e.numeroPedido == each.numeroPedido}).length > 1;
        %>
        <tr class="line-here <%=repeated ? 'red'  : ''%>">
          <td><%=each.numeroPedido%></td>
          <td><%=each.client ? each.client.nome : 'NONE'%></td>
          <td><%=Dat.format(new Date(each.data))%></td>
          <td><%=each.client ? each.client.uf : 'NONE'%></td>
          <td><%=each.transport%></td>
        </tr>

        <tr>
          <td></td>
          <td colspan="4">
            <table class="items">
              <%
              try{
                if (each &&  each.items){
                  each.items.forEach((eachItem)=>{

                    var matchFullSku = 0;
                    var matchSku = 0;

                    line.forEach((sale)=>{
                      if (sale.numeroPedido != each.numeroPedido){
                        sale.items.forEach((item)=>{
                          if (item.codigo == eachItem.codigo){
                            matchFullSku++;
                          }else if (item.codigo.split('-')[0] == eachItem.codigo.split('-')[0]){
                            matchSku++;
                          }
                        });
                      }
                    });

                    %>
                    <tr class="<%=matchFullSku || matchSku ? 'highlight' : ''%>">
                      <td><%=matchFullSku%></td>
                      <td><%=matchSku%></td>
                      <td><%=eachItem.codigo%></td>
                      <td><%=eachItem.descricao%></td>
                    </tr>
                    <%})
                  }
                }catch(e){

                }%>
              </table>
            </td>
          </tr>
          <%
        });  %>
      </table>

      <table >
        <tr >
          <td>Pedido</td>
          <td>Bloqueio</td>
        </tr>

        <%blocks.forEach((each)=>{
          %>
          <tr class="line-here">
            <td><%=each.numeroPedido%></td>
            <td>'Bloqueado'</td>
          </tr>

          <tr>
            <td colspan="2">
              <table class="items">
                <% if (each.items != undefined){
                  each.items.forEach((eachItem)=>{%>
                    <tr>
                      <td><%=eachItem.codigo%></td>
                      <td><%=eachItem.descricao%></td>
                    </tr>
                    <%})}%>
                  </table>
                </td>
              </tr>
              <%})%>


            </table>


            <table>
              <tr>
                <td>Block Rule</td>
                <td>Blockings</td>
                <td>Data</td>
                <td>User</td>

              </tr>

              <%Object.values(rules).forEach((each)=>{
                %>
                <tr class="line-here <%=each.blockings > 0 ? 'highlight' : ''%> ">
                  <td><%=each.number%></td>
                  <td><%=each.blockings%></td>
                  <td><%=Dat.format(each.blockDate)%></td>
                  <td><%=each.user.name%></td>
                </tr>
                <%})%>


              </table>
            </div>

          </body>
          </html>
