<!DOCTYPE html>
<html lang="pt" dir="ltr">
<head>
  <meta charset="utf-8">
  <title><%=sale.userName.split(' ')[0]%> | <%= sale.number%></title>
  <link rel="stylesheet" type="text/css" href="/front/css/layout/picking-print.css">

  <script type="text/javascript" src="/front/js/libs/JsBarcode.all.min.js"></script>
  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script type="text/javascript" src="/front/js/control/picking-print.js"></script>
</head>
<body>

  <script>
  window.sale = <%- JSON.stringify(sale || null) %>
  </script>

  <div class="main" >
    <table>
      <tr>
        <td class="obs">
          <p><%= sale.transport %></p>
          <p><%= sale.obs %></p>
        </td>
        <td class="user-name">
          <p><%= Dat.formatwTime(new Date()) %></p>
          <p><%= sale.userName %></p>
        </td>
      </tr>
    </table>

    <table>
      <tr>
        <td style="text-align: left; width: 35%;">
          <svg id="barcode"></svg>
        </td>
        <td style="width: 30%;">
          <p class="sale-number"><%= sale.number%></p>
          <p class="sale-date"><%= Dat.format(new Date(sale.date))%></p>
        </td>
        <td style="width: 35%; text-align: right;">
          <p class="sale-client-name"><%= sale.clientName%></p>
          <p class="sale-order"><%= sale.oc%></p>
        </td>
      </tr>
    </table>

    <table>
      <% sale.items.forEach((item)=>{
        %>
        <tr>
          <td class="col-sku">
            <span class="sku"><%=item.sku%></span>
          </td>
          <td class="col-ean">
            <span class="ean"><%= item.ean.slice(9, item.ean.length)%></span>
          </td>

          <td class="col-local">
            <span class="local">
              <%=item.local%>
            </span>
          </td>
          <td class="col-qtd">
            <%var qtdBorderClass = (item.qtd > 1 ? 'qtd-border' : '')%>
            <span class="qtd <%=qtdBorderClass%>">
              <%=item.qtd%>
            </span>
          </td>
        </tr>
        <%}) %>

        <% if (sale.items.length > 0){%>
          <tr class="total-line">
            <td class="total" colspan="3"><span>Total</span></td>
            <td class="total col-qtd"><span><%=sale.itemsQuantity%></span></td>
          </tr>
          <%}%>
        </table>
      </div>

      <script> window.print();</script>



    </body>
    </html>
