<html>
<%  include ../menus/main-menu %>

<head>
  <link rel="stylesheet" type="text/css" href="/front/css/layout/picking.css">
  <script type="text/javascript" src="/front/js/control/picking.js"></script>
  <script type="text/javascript" src="/front/js/control/picking-pendings.js"></script>
  <script type="text/javascript" src="/front/js/libs/shake.js"></script>
  <script type="text/javascript" src="/front/js/libs/dropdown.js"></script>
  <script type="text/javascript" src="/front/js/libs/selector.js"></script>
  <script type="text/javascript" src="/front/js/libs/request-helper.js"></script>
  <script type="text/javascript" src="/front/js/libs/image-preview.js"></script>

  <!-- To block a sale -->
  <script type="text/javascript" src="/front/js/libs/selector-dialog.js"></script>
  <script type="text/javascript" src="/front/js/control/blocked/blocked-selector.js"></script>
  <script type="text/javascript" src="/front/js/control/blocked/blocked-post.js"></script>
  <link rel="stylesheet" type="text/css" href="/front/css/libs/material-selector-dialog.css">

  <link rel="stylesheet" type="text/css" href="/front/css/libs/material-input.css">
  <link rel="stylesheet" type="text/css" href="/front/css/libs/material-select.css">
  <link rel="stylesheet" type="text/css" href="/front/css/libs/material-dropdown.css">
  <link rel="stylesheet" type="text/css" href="/front/css/libs/material-switch.css">

</head>

<body>

  <script>
  //window.pickingSales = <%- JSON.stringify(pickingSales || null) %>
  window.inprogress = <%- JSON.stringify(inprogress || null) %>
  window.pendingSales = <%- JSON.stringify(pendingSales || null) %>
  window.printPickingUrl = "<%- printPickingUrl || "undefined" %>"

  window.selectedTransp = "<%- selectedTransp || undefined %>";
  window.selectedUf = "<%- selectedUf || undefined %>";
  </script>

  <%  include ../menus/picking-menu %>
  <div class="main-content no-scroll">


    <div class="main-pick">
      <div class="col dotted" style="display:block">
        <div class="find-next-holder shadow">
          <span class="picking-title label header-title"> Impressão de Picking </span>

          <div class="material-input-holder group input-group">
            <input type="text" id="user-id" required>
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>Código de Acesso</label>
          </div>

          <p class="error msg-input">Erro</p>
          <p class="sucess msg-input">Sucesso</p>

          <div class="picking-selectors-holder">
            <div class="dropdown">
              <input id="transport-list" type="checkbox" name="checkbox" checked />
              <label class="label-transport" for="transport-list">
                <div class="drop-ttl">
                  <label class="inner-label"><%=selectedTransp ? selectedTransp : 'Transportadora'%></label>
                </div>
                <ul>
                  <%if (Object.keys(transportList).length > 0){%>
                    <li data-query="transp" data-value="">Todas</li>
                    <%}%>

                    <% Object.keys(transportList).forEach((key)=>{%>
                      <li data-query="transp" data-value="<%=key%>"><%=key%></li>
                      <%})%>
                    </ul>
                  </label>
                </div>

                <div class="dropdown">
                  <input id="uf-list" type="checkbox" name="checkbox" checked />
                  <label class="label-uf" for="uf-list">
                    <div class="drop-ttl"><label class="inner-label"><%=selectedUf ? selectedUf : 'Estado'%></label></div>
                    <ul>
                      <%if (Object.keys(ufList).length > 0){%>
                        <li  data-query="uf" data-value="">Todos</li>
                        <%}%>

                        <% Object.keys(ufList).forEach((key)=>{%>
                          <li data-query="uf" data-value="<%=key%>"><%=key%></li>
                          <%})%>
                        </ul>
                      </label>
                    </div>
                  </div>
                </div>

                <div class="pick-box shadow upcoming-box">



                  <div class="pick-header">
                    <span class="label header-title"> Próximos Pedidos</span>
                    <span class="label header-count"> <%=pickingSales.length%></span>
                  </div>


                  <%
                  pickingSales.slice(0, 6).forEach(function(preview){
                    %>

                    <div class="shadow label mini-item solved">

                      <table width="100%">
                        <tr>
                          <td rowspan="2" style="max-width: 38px;">
                            <img class="circle shadow box-img" data-transp="<%=preview.transport%>" src="/img/transport/<%=preview.transport ? preview.transport.toLowerCase(): ''%>.png" onerror="this.src='/img/box.png'" />
                          </td>

                          <td><span class="pick-value green-title"><%=preview.numeroPedido %></span></td>
                          <td><span class="pick-value"><%=preview.itemsQuantity %> Itens</span></td>
                          <td><span class="pick-value" style="float:right"><%= Dat.format(new Date(preview.data))%></span></td>
                        </tr>
                        <tr>
                          <td><span class="pick-value"><%=preview.transport%></span></td>
                          <td><span class="pick-value"></span></td>
                          <td><span class="pick-value" style="float:right"><%=Num.money(preview.totalProdutos) %></span></td>
                        </tr>
                      </table>
                    </div>

                    <%
                  });
                  %>

                </div>
              </div>


              <div class="col" style="display:inline-block">

                <div class="pick-box shadow blue-top">
                  <div class="pick-header">
                    <span class="label header-title"> Em Andamento</span>
                    <span class="label header-count inprogress-count"> <%=Object.keys(inprogress).length%></span>
                  </div>


                  <%

                  var progress = Object.keys(inprogress);


                  if (progress.length === 0){
                    %><span class="pick-hint">Nenhum picking em andamento </span>
                    <%
                  }


                  progress.forEach((key) => {
                    var sale = inprogress[key];

                    %>
                    <div class="shadow label mini-item inprogress-item clickable-mini-item blue-left" data-sale="progress-<%=sale.numeroPedido %>">
                      <table width="100%">
                        <tr>
                          <td rowspan="2">
                            <img class="circle shadow avatar-img mini-avatar" data-id="<%=sale.pickUser.id%>" src="<%=sale.pickUser.avatar%>" />
                          </td>
                          <td><span class="pick-value green-title"><%=sale.numeroPedido %></span></td>
                          <td><span class="pick-value"><%=sale.itemsQuantity %> Itens</span></td>
                          <td><a class="print-progress" href="<%=printPickingUrl + sale.id %>" target="_blank"><div class="print-sale-holder" title="Reimprimir" ><img class="print-sale" src="/img/print.png" /></div></a></td>
                        </tr>
                        <tr>
                          <td><span class="pick-value"><%=sale.pickUser.name ? sale.pickUser.name.split(" ")[0] : 'Desconhecido'%></span></td>
                          <td><span class="pick-value"><%=sale.transport %></span></td>
                          <td><span class="pick-value inprogress-begin" style="float:right" diftime="<%=new Date().getTime() - sale.begin.getTime()%>"></span></td>
                        </tr>
                      </table>

                    </div>
                    <%
                  });
                  %>
                </div>

                <div class="pick-box shadow red-top blocked-box">
                  <div class="pick-header">
                    <span class="label header-title">Bloqueados</span>
                    <span class="label header-count inprogress-count"> <%=blockedSales.length%></span>
                  </div>

                  <input type="text" id="blocked-sale-input" class="simple-material-input" placeholder="Número do pedido" style="width:100%"/>

                  <div class="blocked-sales-holder">
                    <%  blockedSales.forEach((blocked) => {%>
                      <table class="table-sale-blocked-holder shadow" data-sale="<%=blocked.number%>">
                        <tr>
                          <td>
                            <%var userName = (blocked.user.name ? blocked.user.name.split(" ")[0] : 'Desconhecido') %>
                            <%var blockingClass = (blocked.blocking ? 'blocking' : 'not-blocking') %>
                            <img class="circle shadow avatar-img super-mini-avatar <%=blockingClass%>" data-id="<%=blocked.user.id%>" src="<%=blocked.user.avatar%>" title="<%=userName%>" />
                            <%if (blocked.reason){%>
                              <img class="circle shadow blocked-reason" src="<%=blocked.reason.icon%>" title="<%=blocked.reason.label%>" />
                              <%}%>
                            </td>
                            <td>
                              <label class="blocked-sale-label copiable"><%=blocked.number%></label>

                              <%
                              var blockDate = new Date(blocked.blockDate);
                              var dif = Dat.daysDif(new Date(), blockDate);
                              var days = dif > 0 ? dif + ' Dias' : Dat.format(blockDate);%>
                              <label class="blocked-sale-label" style="font-size:11px;"><%= days%></span>
                              </td>
                            </tr>
                          </table>
                          <%});%>

                        </div>
                      </div>
                    </div>


                    <div class="col opened-sale-box">

                      <div class="pick-box shadow orange-top open-sale-holder">
                        <div class="pick-header">

                          <span class="label header-title">Pedido</span>
                          <span class="label header-count green-title sale-number"></span>

                        </div>

                        <div class="items-holder">
                          <table id="opened-sale" width="100%">
                            <tr>
                              <td colspan="4">
                                <table width="100%">
                                  <tr class="dotted-line">
                                    <td><span class="pick-value" id="sale-transport"><span></td>
                                      <td><span class="pick-value" id="sale-date"> </span></td>
                                      <td><span class="pick-value" id="sale-itens"> </span></td>
                                      <td><span class="pick-value right" id="sale-value">  </span></td>
                                    </tr>
                                  </table>
                                </tr>

                                <tr class="dotted-line pending-button-holder">
                                  <td><input type="text" id="pending-local" class="simple-material-input" placeholder="Localização"/></td>
                                  <td></td>
                                  <td colspan="2"><label class="button pending-button shadow">Pendência</label></td>
                                </tr>

                                <tr class="dotted-line">
                                  <td><span class="pick-value">Produto</span></td>
                                  <td><span class="pick-value">Quant.</span></td>
                                  <td><span class="pick-value">Preço</span></td>
                                  <td><span class="pick-value">Pend.</span></td>
                                </tr>

                              </table>
                            </div>

                          </div>
                        </div>


                        <div class="col" style="display:block">
                          <div class="pick-box shadow green-top">
                            <div class="pick-header">
                              <span class="label header-title">Separado</span>
                              <span class="label header-count green-title"><%=donePickings.length%></span>
                            </div>

                            <%if (donePickings.length === 0){
                              %><span class="pick-hint">Nenhum picking pronto</span>
                              <%
                            }else {%>

                              <table width="100%" class="scrollable-table">

                                <tr class="dotted-line">
                                  <td><span class="pick-value">Pedido</span></td>
                                  <td><span class="pick-value">Transp.</span></td>
                                  <td><span class="pick-value">Data</span></td>
                                  <td><span class="pick-value" style="float:right">Em aberto</span></td>
                                </tr>

                                <%
                                donePickings.forEach(function(sale, index){
                                  %>
                                  <tr class="clickable-mini-item done-sale-item"  data-saleid="done-<%=sale.id%>" data-sale="done-<%=sale.numeroPedido%>">
                                    <td><span class="pick-value green-title"><%=sale.numeroPedido %></span></td>
                                    <td><span class="pick-value"><%=Util.twoNames(sale.transportador, 'Retirada')%> </span></td>
                                    <td><span class="pick-value" ><%= Dat.format(new Date(sale.data))%></span></td>
                                    <td><span class="pick-value" style="float:right"><%=Dat.daysDif(new Date(sale.data), new Date()) + ' Dias'%></span></td>
                                  </tr>

                                  <%
                                });
                                %>
                              </table>
                              <%}%>
                            </div>
                          </div>


                          <% include ../pending/picking-pendings %>
                        </div>
                      </div>
                    </body>

                    </html>
