<%attrs.forEach((attr, index)=>{
  var arr = data[attr];


  if (arr){
      var total = arr.length;
      %>

  <div class="shadow box">
    <div class="box-lines-holder">
      <div class="line-title line-item">
        <label class="title-box"><%=titles[index]%></label>

        <label class="data-quantity" title="<%=Num.points(total)%>"><%=Num.format(total)%></label>
      </div>

      <%data[attr].forEach(item=>{%>

        <div class="line-item clickable <%=item.balance < 0 ? 'red' : 'green'%>" data-attr="<%=attr%>" data-value="<%=item.title%>">
          <label class="data-title"><%=item.title%>
            <label class="count-label" title="<%=Num.points(item.count)%>"><%=Num.format(item.count)%></label>
          </label>
          <label class="<%=item.balance <0 ? 'red-label': 'green-label'%>" title="<%=Num.points(item.balance)%>"><%=Num.format(Math.abs(item.balance))%>
            <label class="data-quantity" title="<%=Num.points(item.quantity)%>"><%=Num.format(item.quantity)%>
            </label>
          </label>


        </div>
        <%});%>
      </div>
    </div>


    <%}});%>
