<html lang="en" dir="ltr">
<%include ../../menus/main-menu %>
<head>
  <link rel="stylesheet" type="text/css" href="/front/css/layout/product/product-board.css">


  <script type="text/javascript" src="/front/js/control/product/product-board.js"></script>
  <script type="text/javascript" src="/front/js/libs/request-helper.js"></script>
  <script type="text/javascript" src="/front/js/libs/dropdown.js"></script>

  <script type="text/javascript" src="front/js/libs/broadcast.js"></script>
  <script type="text/javascript" src="front/js/libs/socket.io.slim.js"></script>


</head>
<body>
  <%include ../../menus/stock-menu %>

  <script>
  window.data = <%- JSON.stringify(data || null) %>
  window.colors = <%- JSON.stringify(colors || null) %>
  </script>

  <div class="main">
    <div class="left">


      <div class="shadow box fit-box">
        <div class="line-title line-item">
          <label class="title-box">Todos os Produtos</label>

          <div class="menu-dots">

          </div>
        </div>

        <div class="box-items-holder">

          <div class="box-item">
            <img class="graph" src="img/chart.png" alt=""/>
            <% var total = data.brand.reduce(function(a, b) { return a + b.quantity; }, 0);%>
            <div class="box-item-text">
              <label class="data-title" title="<%=Num.points(total)%>"><%=Num.format(total)%></label>
              <label class="data-quantity">Items</label>
            </div>
          </div>


          <div class="box-item">
            <img class="graph" src="img/box.png" alt=""/>
            <% var total = data.brand.reduce(function(a, b) { return a + b.count; }, 0);%>
            <div class="box-item-text">
              <label class="data-title" title="<%=Num.points(total)%>"><%=Num.format(total)%></label>
              <label class="data-quantity">Skus</label>
            </div>
          </div>

          <div class="box-item">
            <img class="graph" src="img/tags.png" alt=""/>
            <% var total = data.brand.length;%>
            <div class="box-item-text">
              <label class="data-title" title="<%=Num.points(total)%>"><%=Num.format(total)%></label>
              <label class="data-quantity">Marcas</label>
            </div>
          </div>

          <div class="box-item">
            <img class="graph" src="img/category.png" alt=""/>
            <% var total = data.category.length;%>
            <div class="box-item-text">
              <label class="data-title" title="<%=Num.points(total)%>"><%=Num.format(total)%></label>
              <label class="data-quantity">Categorias</label>
            </div>
          </div>

          <div class="box-item">
            <img class="graph" src="img/color.png" alt=""/>
            <% var total = data.color.length;%>
            <div class="box-item-text">
              <label class="data-title" title="<%=Num.points(total)%>"><%=Num.format(total)%></label>
              <label class="data-quantity">Cores</label>
            </div>
          </div>


        </div>
      </div>

      <div class="shadow box fit-box">
        <div class="line-title line-item">
          <label class="title-box">Todos os Gêneros</label>
        </div>


        <div class="box-items-holder">


          <%data.gender.forEach(item=>{%>

            <div class="box-item clickable" data-attr="gender" data-value="<%=item.title%>">
              <img class="graph" src="img/<%=genders[item.title].icon%>.png" title="<%=Str.capitalize(item.title)%>"/>

              <div class="box-item-text">
                <label class="data-title" title="<%=Num.points(item.quantity)%>"><%=Num.format(item.quantity)%></label>
                <label class="data-quantity" title="<%=Num.points(item.count)%>"><%=Num.format(item.count)%></label>
              </div>
            </div>
            <%});%>
          </div>
        </div>


        <div class="shadow box fit-box">
          <div class="line-title line-item">
            <label class="title-box">Todas as Cores</label>

            <label class="data-quantity"><%=data.color.length%></label>
          </div>

          <div class="box-items-holder">
            <%data.color.forEach(item=>{%>

              <div class="box-item clickable" data-attr="color" data-value="<%=item.title%>">
                <label class="color-circle cl-<%=item.title.replace(/\s/g, '')%>" title="<%=Str.capitalize(item.title)%>" style="background-image: <%=colors[item.title]?.description%>; background-color: <%=colors[item.title]?.description%>;"></label>

                <div class="box-item-text">
                  <label class="data-title" title="<%=Num.points(item.quantity)%>"><%=Num.format(item.quantity)%></label>
                  <label class="data-count" title="<%=Num.points(item.count)%>"><%=Num.format(item.count)%></label>
                </div>
              </div>
              <%});%>
            </div>
          </div>




        </div>




        <div class="right">


          <div class="single-right-col">
            <%
            var attrs = ['season','age', 'year'];
            var titles = ['Todas as Estações', 'Todas as Idades', 'Todos os Anos'];
            %>

            <%- include('../board/board-listing', {attrs: attrs, titles : titles });  %>

          </div>

          <%
          var attrs = ['brand', 'manufacturer', 'category'];
          var titles = ['Todas as Marcas', 'Todos os Fabricantes', 'Todas as Categorias'];
          %>

          <%- include('../board/board-listing', {attrs: attrs, titles : titles });  %>





        </div>
      </div>

    </body>
    </html>
