<%
//var subtitlesArr = Util.getSubtitles(charts);

//User on title-chart-render.ejs
this.calendarAlreadySpawned = false;
%>

<div class="charts-content">

  <% charts.forEach(function(chart) {%>
    <%if ((typeof hideEmptyCharts === 'undefined') || (chart.getItems().length > 0)){%>
      <div class="chart-group shadow <%=typeof showCalendarFilter !== 'undefined' ? 'max-chart' : ''%>">

        <%-  include title-chart-render %>
        <%-  include sums-chart-render %>


        <div class="chart-holder">
          <%-  include empty-chart-render %>
          <%-  include items-chart-render %>
        </div>
      </div>
    <% } %>
  <% }); %>
</div>
