
<html>
<head>
  <script type="text/javascript" src="/front/js/control/diagnostics/diagnostics-dialog.js"></script>
</head>
<body>


  <%product = product ? product : {}%>

  <div class="fixes-main">

    <div class="fixes-left">

      <div class="top-image-holder">
        <a href="<%=product ? product.url : ''%>" target="_blank">
          <label class="sku-name"><%=product && product.name ? Str.short(product.name, 42): ''%></label>
        </a>
        <%


        var brand = product ? product.brand || '' : ''%>
        <a href="<%=Params.storeUrl() + '/' + brand.trim().replace(' ', '-').toLowerCase(); %>" target="_blank">
          <label class="sku-brand"><%=brand%></label>
        </a>

      </div>
      <div class="image-holder">

        <img src="<%=product ? product.image : ''%>" onerror="this.src='/img/product-placeholder.png'"/>
      </div>

    </div>

    <div class="fixes-right">

      <%if (data.length == 0){%>

        <div class="top-sku">
          <label class="fixes-sku-list no-problem">Nenhum Problema Encontrado</label>
          <%console.log(product)%>
          <%console.log(data)%>
          <div class="no-problem-menu" data-sku="<%=(product ? product.sku : '') || ((data.length > 0) ? data[0].sku : '')%>">
            
          </div>
        </div>

        <%}else{%>

          <%data.forEach((item,index)=>{%>
            <div class="top-sku">
              <label class="fixes-sku-list copiable"><%=item.sku%></label>

              <%if (index == 0){%>
                <div class="menu-dots" data-sku="<%=(product ? product.sku : '') || (data ? data[0].sku : '')%>">
                  <img src="img/dots.png" class="dots-glyph" />
                </div>

                <%}%>
              </div>


              <div class="fixes-sku-badges">

                <%item.fixes.forEach(type=>{%>

                  <div class="badge-item">
                    <%var enumType = types[type]%>
                    <img class="ind-icon" src="img/<%=enumType ? enumType.icon : 'question-mark'%>.png"/>
                    <label class="ind-title"><%=enumType ? enumType.name : 'Não encontrado'%></label>

                    <img class="right f-icon fix" src="img/restart.png" data-sku="<%=item.sku%>" data-type="<%=type%>"/>
                  </div>

                  <%});%>
                </div>



                <%});%>

                <%}%>
              </div>

            </div>

          </div>


        </body>
        </html>
