<!DOCTYPE html>
<html lang="en" dir="ltr">
<%include ../../menus/main-menu %>

<head>
  <script type="text/javascript" src="/front/js/libs/request-helper.js"></script>
  <link rel="stylesheet" type="text/css" href="/front/css/layout/diagnostics.css">

  <script type="text/javascript" src="front/js/libs/broadcast.js"></script>
  <script type="text/javascript" src="front/js/libs/socket.io.slim.js"></script>

  <script type="text/javascript" src="/front/js/control/diagnostics/diagnostics.js"></script>
  <script type="text/javascript" src="/front/js/libs/dropdown.js"></script>

  <link rel="stylesheet" type="text/css" href="/front/css/libs/material-dropdown.css">


</head>

<body>
  <script>
  window.sums = <%- JSON.stringify(sums || null) %>
  window.types = <%- JSON.stringify(types || null) %>
  </script>

  <%include ../../menus/stock-menu %>

  <div class="main-content">


    <div class="top-controlers shadow">

      <label class="errors-msg">Foram encontrados <b><%=Num.points(sums.map(item => item.sum_count).reduce((prev, next) => prev + next, 0))%></b> produtos com problemas.</label>
      <img src='/img/loader/circle.svg' class="loading-circle"/>
      <label class="start-time"></label>

      <div class="main-menu-dots">
        <img src="img/dots.png" class="dots-glyph"/>
      </div>



      <label class="button shadow" id="sync">Analizar</label>

      <input type="text" id="search" class="simple-material-input" placeholder="Pesquisar Produtos" autocomplete="off">

    </div>





    <div class="ind-holder">
      <%sums.forEach(item=>{

        %>
        <div class="ind-item shadow" data-type="<%=item._id.type%>">
          <div class="ind-header">
            <%var enumType =  types[item._id.type];%>

            <label class="ind-title"><%=enumType ? enumType.name : 'Não encontrado'%></label>
            <img class="ind-icon" src="img/<%=enumType ? enumType.icon : 'question-mark'%>.png"/>
          </div>

          <div class="ind-footer">
            <span class="ind-count"><%=Num.points(item.sum_count)%></span>
          </div>

        </div>
        <%

      });%>

    </div>

    <div class="description-box">
      <span class="description"></span>
    </div>

    <%if (sums.length > 0){%>
      <div class="ind-rows-holder">

      </div>

      <%

    }%>





    <div class="sku-fixes-modal">
      <div class="sku-fixes-holder shadow">

      </div>
    </div>

  </div>





</body>
</html>
