<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title><%=Util.transportName(shippingOrder.transportador) + ' | Coleta ' + shippingOrder.numeroColeta%> </title>

  <link rel="icon" href="/img/icon/favicon.ico" type="image/x-icon" />
  <link rel="shortcut icon" href="/img/icon/favicon.ico" type="image/x-icon" />

  <script class="hidable-script">
  window.shippingOrder = <%- JSON.stringify(shippingOrder || null) %>
  </script>


  <style>
  .big{
    font-weight: 800;
    font-size: 22px;
  }

  .bold{
    font-weight: 800;
    font-size: 18px;
  }

  td, span{
    font-size:15px;
    font-weight: 500;
    font-family: sans-serif;
  }

  .top{
    padding-bottom: 17px;
    border-bottom: 1px solid #989898;
  }

  .holder{
    padding: 10px 0px;
    width: 100%;
  }


  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  td{
    padding: 12px 5px;
  }

  table{
    width: 100%;
    max-width: 100%;
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
  }

  .transp{
    padding: 5px 15px;
  }

  .vol-inc{
    border: 2px solid black;
    padding: 4px 6px;
  }

  .bkg-row td{
    font-size: 17px;
    font-weight: bold;
    background-color: #e2e2e2;
  }
  </style>

</head>

<body>

  <%

   shippingOrder._NotasFiscais

  var volTotal = shippingOrder._NotasFiscais.reduce((prev, e)=>{return parseInt(e.qtdVolumes) + prev},0);
  %>

  <div class="top">
    <p>
      <span class="big"><%=shippingOrder.numeroColeta%></span>
      <span class="transp"><%=shippingOrder.transportador%></span>
      <span  style="float:right"><%=Dat.format(new Date(shippingOrder.data))%></span>
    </p>
    <span>Minuta de Despacho [Usuário: <%=shippingOrder.usuario_criacao%>]</span>
    <span style="float:right" class="bold"><%=volTotal + ' Volumes'%></span>
  </div>

  <div class="holder">



    <table>
      <tr class="bkg-row">
        <td>Nota Fiscal</td>
        <td>Pedido</td>
        <td>Ordem de Compra</td>
        <td>Data</td>
        <td>Cliente</td>
        <td>Valor</td>
        <td>Peso</td>
        <td>Volumes</td>
        <td>Destino</td>
      </tr>

      <%

      var val = 0;
      var wei = 0;

      shippingOrder._NotasFiscais.sort((a, b) => a.contato.localeCompare(b.contato)).forEach((each)=>{

        val += parseFloat(each.totalFaturado);
        wei += parseFloat(each.pesoTransportadora);

        %>

        <tr>
          <td><span class="bold"><%=each.numero%></span></td>
          <td><span class=""><%=each.numeroPedido%></span></td>
          <td><span class=""><%=each.numeroDaOrdemDeCompra%></span></td>
          <td><span class=""><%=Dat.format(new Date(each.dataEmissao))%></span></td>

          <td><span><%=each.contato%></span></td>
          <td><span><%=Num.money(each.totalFaturado)%></span></td>
          <td><span><%=Floa.weight(each.pesoTransportadora)%></span></td>
          <td><span class="<%=each.qtdVolumes > 1 ? 'vol-inc' : ''%>"><%= each.qtdVolumes || 1 %></span></td>
          <td>
            <span><%=each.uf%></span>
          </td>
        </tr>

        <%});%>


        <tr class="bkg-row">
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td><%=Num.money(val)%></td>
          <td><%=Floa.weight(wei)%></td>
          <td><%=volTotal%></td>
          <td></td>
        </tr>

      </table>

    </div>

  </body>
  </html>
