<!DOCTYPE html>
<html lang="en" dir="ltr">
<%  include ../menus/main-menu %>
<head>

  <link rel="stylesheet" type="text/css" href="/front/css/layout/gift.css">
  <link rel="stylesheet" type="text/css" href="/front/css/libs/material-input.css">
  <link rel="stylesheet" type="text/css" href="/front/css/libs/material-checkbox.css">


  <script type="text/javascript" src="/front/js/control/gift/gift.js"></script>
  <script type="text/javascript" src="/front/js/libs/request-helper.js"></script>

  <script type="text/javascript" src="/front/js/libs/combobox.js"></script>
  <script type="text/javascript" src="/front/js/libs/date-picker.js"></script>
</head>
<body>


  <script>

  window.selectedGift = <%- JSON.stringify(gift || null) %>
  window.rulesAttrs = <%- JSON.stringify(rulesAttrs || null) %>
  window.rulesConditions = <%- JSON.stringify(rulesConditions || null) %>

  </script>


  <div class="main-content">

    <div class="show-all shadow">
      <label class="sub-title">Regras</label>

      <div class="all-rules">

        <%all.forEach((each)=>{%>

          <div class="each-all shadow" data-id="<%=each.id%>">
            <span><%=each.name%></span>
            <img src="img/<%=each.active ? 'checked' : 'block'%>.png" />

            <label>Até <%=Dat.format(each.expiresDate)%></label>
          </div>
          <%});%>


        </div>
      </div>


      <div class="content shadow">

        <input id="id" value="<%=gift? gift.id : ''%>">

        <div class="row">
          <div class="material-input-holder">
            <input type="text" id="gift-name" maxlength="50"
            value="<%= gift ? gift.name : ''%>" autocomplete="off"
            title="Nome da Regra" required/>

            <span class="bar"></span>
            <label>Nome da Regra</label>
          </div>

          <div class="material-input-holder expires-holder">
            <input id="expires" maxlength="50"
            autocomplete="off"
            title="Data de Expiração" required/>

            <span class="bar"></span>
            <label>Data de Expiração</label>
          </div>


          <div class="check-options">

            <label class="pure-material-checkbox">
              <input type="checkbox" id="active"   <%=gift && gift.active ? 'checked' : ''%>>
              <span>Ativo</span>
            </label>


            <label class="pure-material-checkbox">
              <input type="checkbox" id="checkstock" <%=gift && gift.checkStock ? 'checked' : ''%>>
              <span>Verificar Estoque dos Produtos</span>
            </label>
          </div>


        </div>




        <div class="row">

          <div class="product-select">
            <label class="sub-title">Produtos <img class="add add-product" src="img/forward.png"></label>

            <div class="material-input-holder sku-input-holder">
              <input type="text" id="sku" maxlength="50"
              value="" autocomplete="off"
              title="Código do Produto" required/>

              <span class="bar"></span>
              <label>Código</label>
            </div>
          </div>



          <div class="box-holder">

            <div class="msg-box msg-box-sku">
              <img src="img/error.png" class="icon-error">
              <span class="error-msg-sku"></span>
            </div>

            <div class="sel-box skus-box">


            </div>
          </div>
        </div>

        <div class="row">

          <div class="conditions-select">
            <label class="sub-title">Condições <img class="add add-cond" src="img/forward.png"></label>

            <div class="material-input-holder">
              <input type="text" id="attr" maxlength="50"
              value="" autocomplete="off"
              title="Nome do Atributo" required/>

              <span class="bar"></span>
              <label>Atributo do Pedido</label>
            </div>

            <div class="material-input-holder">
              <input type="text" id="sign" maxlength="50"
              value="" autocomplete="off"
              title="Comparador" required/>

              <span class="bar"></span>
              <label>Comparador</label>
            </div>


            <div class="material-input-holder">
              <input type="text" id="value" maxlength="50"
              autocomplete="off"
              title="Valor" required/>

              <span class="bar"></span>
              <label>Valor</label>
            </div>



          </div>



          <div class="box-holder">

            <div class="msg-box msg-box-cond">
              <img src="img/error.png" class="icon-error">
              <span class="error-msg-cond"></span>
            </div>


            <div class="sel-box attrs-box">


            </div>

          </div>
        </div>

        <div class="buttons-holder">

          <label class="button save shadow">Salvar</label>
          <label class="button new-button shadow">Novo</label>
          <label class="button delete-button shadow">Excluir</label>

        </div>


      </div>

    </div>

  </body>
  </html>
