
<html>
<%  include ../menus/main-menu %>
<head>
  <link rel="stylesheet" type="text/css" href="/front/css/layout/team-board.css">
</head>
<body>
  <%  include ../menus/performance-menu %>
  <script>
  window.data = <%- JSON.stringify(data) %>
  </script>



  <%

  var groups = [{
    title: "Reposição",
    subtitle: "Localizar, Guardar e Repor",
    stamps: ["Concentração", "Determinação", "Responsabilidade"],
    explaning: "A localização e reposição dos produtos é o início do ciclo de estoque. É fundamental que se faça o registro da localização no produto para que a equipe de Picking possa encontrar na hora de separar o pedido. A equipe precisa ter responsabiliade e concentração para realizar os procedimentos de forma correta."
  },

  {
    title: "Conferência",
    subtitle: "Contar, Lançar Estoque e Conferir",
    stamps: ["Agilidade", "Organização", "Atenção"],
    explaning: "O gupro precisa trabalhar em conjunto e com agilidade para dar vazão a entrada de mercadorias diariamente. A conferencia dos produtos deve acontecer de forma rápida e com atenção. Todas as entregas são recebidas com nota fiscal, que deve ser conferida e remetida ao financeiro com um resumo da conferência."
  },


  {
    title: "Pendência",
    subtitle: "Procurar, Investigar e Descobrir",
    stamps: ["Experiência", "Determinação"],
    explaning: "As pendências acontecem por dois motivos somente. Ou o estoque para aquele produto foi lançado errado, ou a localização do produto é inexistente/incorreta. Os responsáveis devem verificar o histórico de localizações, as localizações dos outros tamanhos do produto ou dentro dos produtos que estão entrando para o estoque."
  },

  {
    title: "Devolução",
    subtitle: "Conferir e Devolver",
    stamps: ["Eficiência", "Concentração"],
    explaning: "Todas as devoluções precisam ser conferidas para serem aceitas. A conferência é feita junto a plataforma TroqueFácil. Lá possui a descrição do motivo da devolução de cada item da nota. Os responsáveis pela devolução deve conferir cada item se está de acordo com a política de troca e gerar nota fiscal dos produtos conferidos, e avaliar estado dos itens ao lançar estoque. A equipe precisa ser ágil e concentrada para que o processo seja feito de forma correta."
  },

  {
    title: "Picking",
    subtitle: "Procurar, Encontrar e Separar",
    stamps: ["Eficiência", "Velocidade", "Concentração", "Determinação"],
    explaning: "O Picking dos pedidos deve ser feito com muita rapidez e concentração. Os itens dos pedido devem ser separados corretamente, sob perca de pontos a cada erro. Todo pedido separado gera pontos que trazem bônus aos separadores. Ao não encontrar itens do pedido, o separador deve seguir o seguinte passo a passo: \n1. Consultar o estoque e foto do produto. \n2. Verificar localizações antigas. \n3. Verificar grades próximas \n4. Procurar nas localizações dos outros tamanhos. \n\nCaso não encontre o item faltante, deve adicionar o pedido na pendência"
  },

  {
    title: "Packing",
    subtitle: "Conferir, Embalar e Faturar",
    stamps: ["Velocidade", "Concentração", "Determinação"],
    explaning: "A conferência e faturamento de pedidos necessita de total concentração e agilidade a equipe. Deve-se atentar a cada item solicitado no pedido, etiqueta e nota gerada e a qual transportadora ele pertence. Cada pedido gera uma certa quantidade de pontos, trazendo um bônus ao faturador. Se houver erros, ocorrerá o desconto de pontos. Cada pacote deve ser selado corretamente para evitar a abertura durante o transporte."
  },



  ];




  %>






  <div class="main-content">
    <%groups.forEach(group =>{%>
      <div class="group-box shadow">
        <p class="title-box"><%=group.title%></p>
        <p class="subtitle-box"><%=group.subtitle%></p>

        <div class="stamps-box">
          <%group.stamps.forEach(stamp =>{%>
            <span class="stamp-item"><span class="stamp-circle <%=Str.normalize(stamp).toLowerCase()%>"></span><%=stamp%></span>
            <%})%>
          </div>

          <span class="group-explaning"><%=group.explaning%></span>

          <%
          var groupVar = Str.normalize(group.title).toLowerCase();

          if (data[groupVar]){%>
            <p class="team-title">Equipe: <span class="subtitle-box"><%=data[groupVar].length%></span></p>



            <div class="team-box">
              <%data[groupVar].sort((a, b) => {return (a.leader === b.leader)? 0 : a.leader ? -1 : 1}).forEach((user, index)=>{%>

                <%- include('../user/avatar', {user: user, imgClass: 'mini-avatar'});  %>


                  <%});%>
                </div>

                <%}%>

              </div>


              <%})%>

            </div>


          </body>
          </html>
