<html>
<%- include('../../menus/main-menu') %>


<head>
  <link rel="stylesheet" type="text/css" href="/front/css/libs/material-select.css">
  <link rel="stylesheet" type="text/css" href="/front/css/layout/product/product.css">
  <link rel="stylesheet" type="text/css" href="/front/css/libs/material-input.css">

  <link rel="stylesheet" type="text/css" href="/front/css/libs/material-selector-dialog.css">

  <script type="text/javascript" src="/front/js/libs/request-helper.js"></script>
  <script type="text/javascript" src="/front/js/control/product/product.js"></script>


  <link rel="stylesheet" type="text/css" href="/front/css/libs/easy-autocomplete.css">
  <script type="text/javascript" src="/front/js/libs/easy-autocomplete.min.js"></script>
  <script type="text/javascript" src="/front/js/libs/input-dialog.js"></script>
  <script type="text/javascript" src="/front/js/libs/Chart.min.js"></script>
  <script type="text/javascript" src="/front/js/libs/stock-chart.js"></script>
  <script type="text/javascript" src="/front/js/libs/dropdown.js"></script>
  <script type="text/javascript" src="/front/js/libs/tooltip.js"></script>
</head>



<body>
  <script class="hidable-script">
  window.product = <%- JSON.stringify(product || null) %>
  </script>
  <%- include('../../menus/stock-menu') %>


  <div class="main-content">
    <div class="panels">
      <div class="left-panel shadow">

        <div class="top-image-holder">
          <%if (product.codigo){%>
            <a href="<%=product?.img?.url ?? '\john-travolta'%>" target="_blank">
              <label id="top-sku" class="top-label"><%=product.codigo%></label>
              <label id="top-product-name" class="top-label"><%=Str.short(Util.getProductName(product.nome), 42)%></label>
            </a>
            <%var brand =  product?.Marca ?? ''%>
            <a href="<%=Params.storeUrl() + '/' + brand.replace(' ', '-').toLowerCase(); %>" target="_blank">
              <label id="top-brand" class="top-label sub"><%=brand%></label>
            </a>
            <%}%>
          </div>
          <div class="image-holder">
            <img id="image" src="<%=product?.img?.image ?? ''%>" onerror="this.src='/img/product-placeholder.png'"/>
          </div>

          <div class="expanding-image-modal">
            <div class="back-fixes-image shadow">
              <img class="image-full" src="<%=product?.img?.image || '/img/product-placeholder.png'%>">
            </div>
          </div>

          <%if (product.codigo){ %>
            <div class="product-attributes">

              <table>
                <tr>
                  <td>
                    <div class="attribute-holder">
                      <label class="attribute-name">Cor</label>
                      <label class="attribute-value"><%=product.Cor%></label>
                    </div>
                  </td>

                  <td>
                    <div class="attribute-holder">
                      <label class="attribute-name">Coleção</label>
                      <label class="attribute-value"><%=product.Coleção%></label>
                    </div>
                  </td>

                  <td>
                    <div class="attribute-holder">
                      <label class="attribute-name">Gênero</label>
                      <label class="attribute-value"><%=product.Genero%></label>
                    </div>
                  </td>

                  <%if (loggedUser.full){%>
                    <td>
                      <div class="attribute-holder">
                        <label class="attribute-name">Preço</label>
                        <%var unitPrice = product?.img?.price || product?.img?.sellPrice || Floa.floa(product?.preco) || 0; %>

                        <label class="attribute-value"><%=Num.money(unitPrice)%></label>
                      </div>
                    </td>
                    <%}%>

                  </tr>

                  <tr>
                    <td>
                      <div class="attribute-holder">
                        <label class="attribute-name">Estação</label>
                        <label class="attribute-value"><%=product.Estacao%></label>
                      </div>
                    </td>

                    <td>
                      <div class="attribute-holder">
                        <label class="attribute-name">Faixa de Idade</label>
                        <label class="attribute-value"><%=product['Faixa de Idade']%></label>
                      </div>
                    </td>

                    <td>
                      <div class="attribute-holder">
                        <label class="attribute-name">Departamento</label>
                        <label class="attribute-value"><%=product.Departamento%></label>
                      </div>
                    </td>

                    <%if (loggedUser.full){%>
                      <td>
                        <div class="attribute-holder">
                          <label class="attribute-name">Custo</label>
                          <label class="attribute-value"><%=Num.money(product.precoCusto)%></label>
                        </div>
                      </td>
                      <%}%>
                    </tr>

                    <tr>
                      <td>
                        <div class="attribute-holder">
                          <label class="attribute-name">Material</label>
                          <label class="attribute-value"><%=product.Material%></label>
                        </div>
                      </td>

                      <td>
                        <div class="attribute-holder">
                          <label class="attribute-name">Fabricante</label>
                          <label class="attribute-value"><%=product.Fabricante%></label>
                        </div>
                      </td>

                      <td>
                        <div class="attribute-holder">
                          <label class="attribute-name">Idade</label>
                          <label class="attribute-value"><%=product.Idade%></label>
                        </div>
                      </td>

                      <%if (loggedUser.full){%>
                        <td>
                          <div class="attribute-holder">
                            <label class="attribute-name">Makup</label>
                            <label class="attribute-value"><%=(unitPrice / Floa.def(product?.precoCusto)).toFixed(2)%></label>
                          </div>
                        </td>
                        <%}%>
                      </tr>
                    </table>
                  </div>


                  <label class="chart-label">Desempenho de Vendas</label>
                  <canvas id="stock-chart" width="50%"></canvas>


                  <%}%>


                </div>

                <div class="main-panel" >
                  <div class="shadow product-top">
                    <div class="overflow">
                      <div class="search-holder">
                        <%if (product.codigo){%>
                          <img src="/img/loader/circle.svg" class="status-icon loading-circle"/>
                          <%}%>


                          <input type="text" id="search" value="<%=product.selected ? product.selected : product.codigo%>" class="<%=product.error? 'simple-material-input-error simple-material-input' : 'simple-material-input'%>" placeholder="Pesquisar"/>
                          <label class="top-label sub search-hint">SKU ou EAN</label>

                          <%if (Sett.some(locals.loggedUser,[7,14])){%>
                            <img id="lock-icon" src="/img/lock.png" class="lock"/>
                            <input type="text" id="lock-user-id"/>
                            <%}%>


                            <div class="main-menu-dots">

                            </div>
                          </div>

                          <%if (product.error){%>
                            <div class="error-holder">
                              <label class="msg-error" ><%=product.error%></label>
                            </div>
                            <%}%>


                            <div class="table-child-skus">

                              <%if (product.codigo){ %>
                                <table id="child-skus-holder">
                                  <tr class="title-holder">
                                    <td class="title-col left">Sku</td>
                                    <td class="title-col">Localização</td>
                                    <td class="title-col">Estoque Físico</td>
                                    <td class="title-col">Estoque Disponível</td>
                                    <td class="title-col">Estoque Reservado</td>
                                    <td class="title-col">Peso</td>
                                    <td class="title-col"></td>
                                  </tr>
                                </table>

                                <%}%>
                              </div>
                            </div>
                          </div>

                          <div class="product-bottom">
                            <div class="bottom-box shadow">
                              <div class="overflow">
                                <div class="title-bottom-holder">
                                  <label class="title-label">Histórico do Produto</label>

                                  <img class="print-local" src="/img/print.png"/ title="Imprimir lista de localizações">
                                </div>

                                <table id="local-history" class="obs" style="display: none;">
                                  <td class="title-col left">Data</td>
                                  <td class="title-col">Usuário</td>
                                  <td class="title-col">Plataforma</td>
                                  <td class="title-col">Informação</td>
                                  <td class="title-col">Novo Valor</td>
                                </table>

                              </div>
                            </div>
                            <div class="bottom-box shadow">
                              <div class="overflow">
                                <div class="title-bottom-holder">
                                  <label class="title-label">Histórico do Estoque</label>
                                  <label class="red-wick label-val-title right">0</label>
                                  <label class="green-wick label-val-title right">0</label>
                                </div>

                                <table id="stock-history" class="obs" style="display: none;">
                                  <td class="title-col left">Data</td>
                                  <td class="title-col">Usuário</td>
                                  <td class="title-col">Plataforma</td>
                                  <td class="title-col">Quantidade</td>
                                  <td class="title-col">Descrição</td>
                                </table>
                              </div>
                            </div>
                          </div>


                        </div>
                      </div>
                    </div>

                  </div>


                </body>

                </html>
